
/* common */
.warning {
    color: #ff0000;
}




#launchBtnImg {
    animation-duration: 1.5s;
    animation-delay: 0.5s;
}

/* view */

.profile-info {
    width: 100%;
}

.profile-box {
    padding: .5em;
}
.profile-rows {
    padding: 0.4em;
    border-radius: 3px;
    background-color: #fff;
}
.profile-rows .profile-row {
    display: table;
    width: 100%;
}
.profile-rows .profile-row:first-child {
    border-bottom: 1px solid #cbcbcb;
}
.profile-rows .profile-row .profile-btns {
    display: table-cell;
    width: 33.333%;
    vertical-align: top;
}
.profile-rows .profile-row .profile-btns:nth-child(2n+2) {
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
}

.profile-rows .profile-row .profile-btns img {
    width: 80%;
}
.profile-rows .profile-row .profile-btns a {
    font-size: 0.8em;
    line-height: 1.8em;
    padding: 1.4em;
}


/* list */
.contents-view {
    background-color: #e9e9e9;
}
.contents-view ul.inboxList {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.contents-view ul.inboxList li {
    font-size: .9em;
    color: #9b9b9b;
    padding: .5em .5em 0 .5em;
    line-height: 1.4em;
}
.contents-view ul.inboxList .inboxList-face {
    display: table;
    width: 100%;
    padding: .5em;
    background-color: #fff;
    border-radius: 3px;
}
.contents-view ul.inboxList .inboxList-face .inboxList-group {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.contents-view ul.inboxList .inboxList-face img {
    width: 60px;
    padding-right: 5px;
}
.contents-view ul.inboxList .inboxList-btn {
    padding: 1em .5em;
    min-width: 36px;
    font-size: .9em;
    color: #fff;
    border-radius: 4px;
    background-color: #3180a4;    
}
.contents-view ul.inboxList .inboxList-shop-btn {
    padding: 1em .5em;
    min-width: 36px;
    font-size: .9em;
    color: #fff;
    border-radius: 4px;
    background-color: #3180a4;    
}
.contents-view ul.inboxList .boxs {
    padding: .2em 0 0 .2em;
}
.contents-view ul.inboxList .btns {
    max-width: 42px;
}
.contents-view ul.inboxList .inboxList-title {
    font-size: 1em;
    font-weight: 600;
    color: #3180a4;
    word-break: break-all;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.contents-view ul.inboxList .inboxList-title span {
    display: block;
    color: #B60404;
}

.contents-view ul.inboxList .inboxList-title span.ic-50 {
    display: inline-block;
    text-indent: -99999px;
    width: 16px;
    height: 20px;
    background: url(../resource/ic_50.png) 0 center no-repeat;
    background-size: 15px;
}
.contents-view ul.inboxList .inboxList-summ {
    width: 100%;
    display: table;
}
.contents-view ul.inboxList .inboxList-summ span {
    display: table-cell;
    font-size: .9em;
}
.contents-view ul.inboxList .inboxList-summ b {
    color: #3c3c3c;    
}

.masker {
    position: absolute;
    right: 300px;
    top: 0;
    width: 150px;
    height: 300px;
    background: rgba(255, 255, 255, .1);
    z-index:99;
    -moz-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
}

.mask_1st {
    -webkit-animation: moveMaskSlow 4s linear 0.5s infinite;
    -moz-animation: moveMaskSlow 4s linear 0.5s infinite;
    animation: moveMaskSlow 4s linear 0.5s infinite;    
}
.mask_2nd {
    -webkit-animation: moveMask 4s ease-in-out 0.7s infinite;
    -moz-animation: moveMask 4s ease-in-out 0.7s infinite;
    animation: moveMask 4s ease-in-out 0.7s infinite;
}
.mask_3rd {
    -webkit-animation: moveMask 4s ease-in-out 0.8s infinite;
    -moz-animation: moveMask 4s ease-in-out 0.8s infinite;
    animation: moveMask 4s ease-in-out 0.8s infinite;
}
.mask_4th {
    -webkit-animation: moveMaskSlow 4s ease-in-out 1.1s infinite;
    -moz-animation: moveMaskSlow 4s ease-in-out 1.1s infinite;
    animation: moveMaskSlow 4s ease-in-out 1.1s infinite;
}
.mask_5th {
    -webkit-animation: moveMask 4s ease-in-out 1.3s infinite;
    -moz-animation: moveMask 4s ease-in-out 1.3s infinite;
    animation: moveMask 4s ease-in-out 1.3s infinite;
}
.mask_6th {
    -webkit-animation: moveMask 4s ease-in-out 1.4s infinite;
    -moz-animation: moveMask 4s ease-in-out 1.4s infinite;
    animation: moveMask 4s ease-in-out 1.4s infinite;
}

@-webkit-keyframes moveMask {
    0% {right: 300px;}
    55% {right: 300px;}
    100% {right: -300px;}
}
@keyframes moveMask {
    0% {right: 300px;}
    55% {right: 300px;}
    100% {right: -300px;}
}
@-webkit-keyframes moveMaskSlow {
    0% {right: 350px;}
    70% {right: 350px;}
    100% {right: -250px;}
}
@keyframes moveMaskSlow {
    0% {right: 350px;}
    70% {right: 350px;}
    100% {right: -250px;}
}

/* shadow */
.shadowCSS { box-shadow: 12px 12px 7px rgba(0,0,0,0.5); }
.shadowfilter { -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5)); }

    
    
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

/*glow*/

@keyframes neon1 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

#masker_1 {
    animation-duration: 3s;
    animation-delay: 2s;
}
#masker_2 {
    animation-duration: 3s;
    animation-delay: 2.5s;
}
#masker_3 {
    animation-duration: 3s;
    animation-delay: 2.5s;
}
#masker_4 {
    animation-duration: 3s;
    animation-delay: 3s;
}
#masker_5 {
    animation-duration: 3s;
    animation-delay: 3.5s;
}
#masker_6 {
    animation-duration: 3s;
    animation-delay: 3.5s;
}



#widgetController {
    position: fixed;
    z-index: 999;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 170px;
    background: #717171; /* Old browsers */
    background: -moz-linear-gradient(top, #717171 0%, #111111 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #717171 0%,#111111 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #717171 0%,#111111 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#point_area {
    position: relative;
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
}
#controller_area {
    position: relative;
    width: 100%;
    height: 135px;
    margin: 0;
    padding: 0;
}

#progress-box {
    position: absolute;
    top: 4px;
    left: 50%;
    width: 120px;
    height:120px;
    z-index: 99;
    margin: 0 0 0 -60px;
    padding: 0;
}

.clc_box {
    position: absolute;
    z-index: 9;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;    
}

.clc_box .clc_round {
    margin: 0 auto;
    padding: 0;
    width: 120px;
    height: 120px;
    background: url(../resource/bg_second.png) 0 center no-repeat;
    background-size: 100%;
    text-align: center;
}
.clc_box .clc_round .clc_btn {
    margin: 15px auto;
    padding: 0;
    width: 90px;
    height: 90px;
    background: url(../resource/bg_second_02.png) 0 center no-repeat;
    background-size: 100%;
    text-align: center;
    vertical-align: middle;
}
.clc_box .clc_round .clc_btn span {
    font-size: 1.8em;
    font-weight: 600;
    color: #fff;
    line-height: 3.4em;
    text-shadow: rgb(150, 150, 150) 1px 1px 1px, rgb(171, 168, 168) 1px 2px 1px;
}
#svg1 {
    position: absolute;
    z-index: 3;
}
#svg2 {
    position: absolute;
    z-index: 2;
}
.clc_marker {
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
}
.clc_marker .svgDiv {
    margin: 10px auto;
    width: 100px;
    height: 100px;
}

#progress_bar {
    display: block;
    margin: 0px auto;
    padding: 10px 0;
    width: 100px;
    height: 100px;
}

#position-box {
    position: absolute;
    top: 3px;
    left: 50%;
    width: 148px;
    height: 120px;
    margin-left: -74px;
    z-index: 55;
    background: url(../resource/bg_second_03.png) 0 center no-repeat;
    background-size: 100%;
}

#controller-box {
    
}
#controller-box dl {
    display: table;
    width: 100%;
    margin: 4px 0;
    padding: 0;
    background-color: rgba(0, 80, 124, 0.4);
    background: rgba(0, 80, 124, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#controller-box dt,
#controller-box dd {
    display: table-cell;
    position: relative;
    width: 50%;
    font-size: 0.9em;
    color: #fff;
}
#controller-box dt {
    text-align: left;
}
#controller-box dd {
    text-align: right;
}
#controller-box dt .wc_btn {
    width: 90px;
    padding: 10px;
}
#controller-box dd .wc_btn {
    width: 90px;
    padding: 10px;
}

.star {
    font-family: FontAwesome;
    color: #ddd;
    font-size: 1.6em;
    position: relative;
}
.star.full:before {
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
    color: #FDE16D;
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    left: 0;
}