
/* common */
.warning {
    color: #ff0000;
}


#launchBtnImg {
    animation-duration: 1.5s;
    animation-delay: 0.5s;
}

/* view */

.contents-profile-view {

    display: -webkit-flex;
    display: flex;
    flex-direction:column;
    
    width: 100%;
    height: 100%;
    margin: 0;
    
    overflow-x: hidden;
}
.contents-outline {
    display: table-row;
}

.contents-profile-view .profile-info {
  -webkit-flex: initial;
          flex: initial;
    
    width: 100%;
    height: 38%;
    background: url(../resource/profile/bg_profile.png) 0 0 no-repeat;
    background-size: cover;
}
.contents-profile-view .profile-box {
  -webkit-flex: initial;
          flex: initial;
    width: 100%;
    height: 62%;
}


.contents-profile-view .profile-info .profile-items {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.card-face__avatar {
    position: relative;
    left: 50%;
    width: 28%;
    margin: 0;
    margin-left: -14%;
    padding: 0;
}
.card-face__avatar img {
    width: 100%;
    border: 5px solid #fff;
    border-radius: 50%;
    margin: 20px 0;
}
.card-face__bullet {
    display: block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    text-indent: 10000px;
    position: absolute;
    top: 90px;
    right: 0;
    background: url(../resource/profile/btn_photo.png) 0 0 no-repeat;
    background-size: cover;
}
.card-face__name {
    color: #fff;
}
.card-face__pincode {
    color: #fff;
}

.contents-profile-view .profile-outline {
    height: 100%;
    padding: .5em;
}
.profile-rows {
    display: table;
    height: 100%;
    padding: 0.5em;
    border-radius: 3px;
    background-color: #fff;
}
.profile-rows .profile-row {
    display: table-row;
    width: 100%;
    height: 49.9%;
}

.profile-rows .profile-row .profile-btns {
    display: table-cell;
    width: 33.333%;
    vertical-align: top;
}
.profile-rows .profile-row .profile-btns:nth-child(2n+2) {
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
}
.btLine .profile-btns {
    border-bottom: 1px solid #cbcbcb;
}

.profile-rows .profile-row .profile-btns img {
    width: 80%;
}
.profile-rows .profile-row .profile-btns a {
    font-size: 0.8em;
    line-height: 1.8em;
    padding: 1.4em;
}
.profile-rows .profile-row .profile-btns span {
    word-break: break-all;    
}


/* list */
.contents-view {
    background-color: #e9e9e9;
}
.contents-view ul.inboxList {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.contents-view ul.inboxList li {
    font-size: .9em;
    color: #9b9b9b;
    padding: .5em .5em 0 .5em;
    line-height: 1.4em;
}
.contents-view ul.inboxList .inboxList-face {
    display: table;
    width: 100%;
    padding: .5em;
    background-color: #fff;
    border-radius: 3px;
}
.contents-view ul.inboxList .inboxList-face .inboxList-group {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.contents-view ul.inboxList .inboxList-face img {
    width: 60px;
    padding-right: 5px;
}
.contents-view ul.inboxList .inboxList-btn {
    padding: 1em .5em;
    min-width: 36px;
    font-size: .9em;
    color: #fff;
    border-radius: 4px;
    background-color: #3180a4;    
}
.contents-view ul.inboxList .inboxList-shop-btn {
    padding: 1em .5em;
    min-width: 36px;
    font-size: .9em;
    color: #fff;
    border-radius: 4px;
    background-color: #3180a4;    
}
.contents-view ul.inboxList .boxs {
    padding: .2em 0 0 .2em;
}
.contents-view ul.inboxList .btns {
    max-width: 42px;
}
.contents-view ul.inboxList .inboxList-title {
    font-size: 1em;
    font-weight: 600;
    color: #3180a4;
    word-break: break-all;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.contents-view ul.inboxList .inboxList-title span {
    display: block;
    color: #B60404;
}

.contents-view ul.inboxList .inboxList-title span.ic-50 {
    display: inline-block;
    text-indent: -99999px;
    width: 16px;
    height: 20px;
    background: url(../resource/ic_50.png) 0 center no-repeat;
    background-size: 15px;
}
.contents-view ul.inboxList .inboxList-summ {
    width: 100%;
    display: table;
}
.contents-view ul.inboxList .inboxList-summ span {
    display: table-cell;
    font-size: .9em;
}
.contents-view ul.inboxList .inboxList-summ b {
    color: #3c3c3c;    
}

.contents-view ul.recordboxList {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: .5em;
}
.contents-view ul.recordboxList li {
    margin-top: .5em;
    padding: 0;
    font-size: .9em;
    color: #9b9b9b;
    line-height: 1.4em;
}
.contents-view ul.recordboxList .inboxList-face {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
}
.contents-view ul.recordboxList .inboxList-marker {
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 3;
    width: 25px;
    height: 27px;
    background: url(../resource/rank.png) 0 0 no-repeat;
    background-size: contain;
    color: #fff;
    text-align: center;
    line-height: 1.6em;
}

.contents-view ul.recordboxList .inboxList-title {
    padding: 5px 5px 5px 32px;
    font-size: 1em;
    font-weight: 600;
    color: #3180a4;
    white-space: nowrap;;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
}
.contents-view ul.recordboxList li a {
    text-decoration: none;
}

.contents-view ul.recordboxList .inboxList-summ__outline {
    padding: .5em .8em;
}
.contents-view ul.recordboxList .inboxList-summ {
    width: 100%;
    display: table;
}
.contents-view ul.recordboxList .inboxList-summ span {
    display: table-cell;
    font-size: .9em;
    color: #9b9b9b;
}
.contents-view ul.recordboxList b {
    color: #3c3c3c;
}
.contents-view ul.recordboxList span.openDateTime {
    color: #3c3c3c;
}

.masker {
    position: absolute;
    right: 300px;
    top: 0;
    width: 150px;
    height: 300px;
    background: rgba(255, 255, 255, .1);
    z-index:99;
    -moz-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
}

.mask_1st {
    -webkit-animation: moveMaskSlow 4s linear 0.5s infinite;
    -moz-animation: moveMaskSlow 4s linear 0.5s infinite;
    animation: moveMaskSlow 4s linear 0.5s infinite;    
}
.mask_2nd {
    -webkit-animation: moveMask 4s ease-in-out 0.7s infinite;
    -moz-animation: moveMask 4s ease-in-out 0.7s infinite;
    animation: moveMask 4s ease-in-out 0.7s infinite;
}
.mask_3rd {
    -webkit-animation: moveMask 4s ease-in-out 0.8s infinite;
    -moz-animation: moveMask 4s ease-in-out 0.8s infinite;
    animation: moveMask 4s ease-in-out 0.8s infinite;
}
.mask_4th {
    -webkit-animation: moveMaskSlow 4s ease-in-out 1.1s infinite;
    -moz-animation: moveMaskSlow 4s ease-in-out 1.1s infinite;
    animation: moveMaskSlow 4s ease-in-out 1.1s infinite;
}
.mask_5th {
    -webkit-animation: moveMask 4s ease-in-out 1.3s infinite;
    -moz-animation: moveMask 4s ease-in-out 1.3s infinite;
    animation: moveMask 4s ease-in-out 1.3s infinite;
}
.mask_6th {
    -webkit-animation: moveMask 4s ease-in-out 1.4s infinite;
    -moz-animation: moveMask 4s ease-in-out 1.4s infinite;
    animation: moveMask 4s ease-in-out 1.4s infinite;
}

@-webkit-keyframes moveMask {
    0% {right: 300px;}
    55% {right: 300px;}
    100% {right: -300px;}
}
@keyframes moveMask {
    0% {right: 300px;}
    55% {right: 300px;}
    100% {right: -300px;}
}
@-webkit-keyframes moveMaskSlow {
    0% {right: 350px;}
    70% {right: 350px;}
    100% {right: -250px;}
}
@keyframes moveMaskSlow {
    0% {right: 350px;}
    70% {right: 350px;}
    100% {right: -250px;}
}

/* shadow */
.shadowCSS { box-shadow: 12px 12px 7px rgba(0,0,0,0.5); }
.shadowfilter { -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5)); }

    
    
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

/*glow*/

@keyframes neon1 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

#masker_1 {
    animation-duration: 3s;
    animation-delay: 2s;
}
#masker_2 {
    animation-duration: 3s;
    animation-delay: 2.5s;
}
#masker_3 {
    animation-duration: 3s;
    animation-delay: 2.5s;
}
#masker_4 {
    animation-duration: 3s;
    animation-delay: 3s;
}
#masker_5 {
    animation-duration: 3s;
    animation-delay: 3.5s;
}
#masker_6 {
    animation-duration: 3s;
    animation-delay: 3.5s;
}



#widgetController {
    position: fixed;
    z-index: 999;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 110px;
    background: #e9e9e9;
}

#point_area {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 4px 0 1px 0;
}
#controller_area {
    position: relative;
    width: 100%;
    height: 135px;
    margin: 0;
    padding: 0;
}

#progress-box {
    position: absolute;
    top: 4px;
    left: 50%;
    width: 120px;
    height:120px;
    z-index: 99;
    margin: 0 0 0 -60px;
    padding: 0;
}

.clc_box {
    position: absolute;
    z-index: 9;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;    
}

.clc_box .clc_round {
    margin: 0 auto;
    padding: 0;
    width: 120px;
    height: 120px;
    background: url(../resource/bg_second.png) 0 center no-repeat;
    background-size: 100%;
    text-align: center;
}
.clc_box .clc_round .clc_btn {
    margin: 15px auto;
    padding: 0;
    width: 90px;
    height: 90px;
    background: url(../resource/bg_second_02.png) 0 center no-repeat;
    background-size: 100%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
.clc_box .clc_round .clc_btn span {
    font-size: 1.8em;
    font-weight: 600;
    color: #fff;
    line-height: 3.4em;
    text-shadow: rgb(150, 150, 150) 1px 1px 1px, rgb(171, 168, 168) 1px 2px 1px;
}
#svg1 {
    position: absolute;
    z-index: 3;
}
#svg2 {
    position: absolute;
    z-index: 2;
}
.clc_marker {
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
}
.clc_marker .svgDiv {
    margin: 10px auto;
    width: 100px;
    height: 100px;
}

#progress_bar {
    display: block;
    margin: 0px auto;
    padding: 10px 0;
    width: 100px;
    height: 100px;
}
#position-box-yahoo {
    position: absolute;
    top: -5px;
    left: 50%;
    width: 138px;
    height: 138px;
    margin-left: -69px;
    z-index: 66;
}
#position-box-yahoo .roate_star {
    width: 100%;
    height: 100%;
    background: url(../resource/rt/star.png) 0 center no-repeat;
    background-size: 100%;
    
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#position-box {
    position: absolute;
    top: 3px;
    left: 50%;
    width: 148px;
    height: 120px;
    margin-left: -74px;
    z-index: 55;
    background: url(../resource/bg_second_03.png) 0 center no-repeat;
    background-size: 100%;

}
@-webkit-keyframes spin { 
    from { 
        -webkit-transform: rotate(0deg); 
    } to { 
        -webkit-transform: rotate(360deg); 
    }
}
@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}
#controller-box {
    
}
#controller-box dl {
    display: table;
    width: 100%;
    margin: 4px 0;
    padding: 0;
    background-color: rgba(0, 80, 124, 0.4);
    background: rgba(0, 80, 124, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#controller-box dt,
#controller-box dd {
    display: table-cell;
    position: relative;
    width: 50%;
    font-size: 0.9em;
    color: #fff;
}
#controller-box dt {
    text-align: left;
}
#controller-box dd {
    text-align: right;
}
#controller-box dt .wc_btn {
    width: 90px;
    padding: 10px;
}
#controller-box dd .wc_btn {
    width: 90px;
    padding: 10px;
}
#controller-box .swc {
    color: #fff200;
}

.star-fill {
    display: block;
    text-align: center;
}
.star-tab {
    display: inline-block;
    width: 12px;
    text-align: center;
}
.star-tab__ext {
    display: inline-block;
    
}

.star-tab .star {
    display: block;
    width: 12px;
    height: 12px;
    text-indent: -99999px;
    background:  url(../resource/rts/ball_off.png) 0 0 no-repeat;
    background-size : contain;
}
.star-tab .star.full {
    background:  url(../resource/rts/ball_on.png) 0 0 no-repeat;
    background-size : contain;
}
.star-tab .clock {
    display: inline-block;
    width: 16px;
    margin-left: .5em;
    font-size: 14px;
    text-indent: -99999px;
    line-height: 18px;
    background:  url(../resource/rt/clock.png) center center no-repeat;
    background-size : contain;
}

.star-tab__ext .recover_life {
    font-size: 9px;
    color: #168f32;
}

#controller_area .rt_predict_effects {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    z-index: 999;
}
#controller_area .rt_predict_effects .rt_predict_effect_stars_lr {
    width: 100%;
    height: 20px;
    background:  url(../resource/ic_star_on.png) 0 0 repeat-x;
    background-size: 20px;
}
#controller_area .rt_predict_effects .rt_predict_effect_stars_tb {
    width: 100%;
    height: 20px;
    background:  url(../resource/ic_star_on.png) 0 0 repeat-y;
    background-size: 20px;
}

#controller_area .rt_predict_effects .top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    -webkit-animation: road2left 1.5s infinite linear;
    -moz-animation: road2left 1.5s infinite linear;
    animation: road2left 1.5s infinite linear;
}
#controller_area .rt_predict_effects .bottom {
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: 9999;
    -webkit-animation: road2right 1.5s infinite linear;
    -moz-animation: road2right 1.5s infinite linear;
    animation: road2right 1.5s infinite linear;
}
#controller_area .rt_predict_effects .right {
    position: absolute;
    top: 20px;
    right: 0;
    width: 20px;
    height: 90px; 
    z-index: 9999;
    -webkit-animation: road2bottom 1.5s infinite linear;
    -moz-animation: road2bottom 1ht.5s infinite linear;
    animation: road2bottom 1.5s infinite linear;
}
#controller_area .rt_predict_effects .left {
    position: absolute;
    top: 20px;
    left: 0;
    width: 20px;
    height: 90px; 
    z-index: 9999;
    -webkit-animation: road2top 1.5s infinite linear;
    -moz-animation: road2top 1.5s infinite linear;
    animation: road2top 1.5s infinite linear;
}

@-webkit-keyframes road2left {
    from {
        background-position: 0;
    }
    to {
        background-position: -330px;
    }
}
@-moz-keyframes road2left {
    from {
        background-position: 0;
    }
    to {
        background-position: -330px;
    }
}
@keyframes road2left {
    from {
        background-position: 0;
    }
    to {
        background-position: -330px;
    }
}
@-webkit-keyframes road2right {
    from {
        background-position: 0;
    }
    to {
        background-position: 330px;
    }
}
@-moz-keyframes road2right {
    from {
        background-position: 0;
    }
    to {
        background-position: 330px;
    }
}
@keyframes road2right {
    from {
        background-position: 0;
    }
    to {
        background-position: 330px;
    }
}
@-webkit-keyframes road2top {
    from {
        background-position: 0;
    }
    to {
        background-position: 0 250px;
    }
}
@-moz-keyframes road2top {
    from {
        background-position: 0;
    }
    to {
        background-position: 0 250px;
    }
}
@keyframes road2top {
    from {
        background-position: 0;
    }
    to {
        background-position: 0 250px;
    }
}
@-webkit-keyframes road2bottom {
    from {
        background-position: 0;
    }
    to {
        background-position: 0 -250px;
    }
}
@-moz-keyframes road2bottom {
    from {
        background-position: 0;
    }
    to {
        background-position: 0 -250px;
    }
}
@keyframes road2bottom {
    from {
        background-position: 0;
    }
    to {
        background-position: 0 -250px;
    }
}

#controller_area .re_prediction_messages {
    position: relative;
    width: 100%;

    
}
#controller_area .rt_common_messagebox {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99999;
    width: 200px;
    margin: 0;
    padding: 0;
    background: rgba(255,0,0,0.5);
}

#controller_area .rt_predict_result_message {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 9999;
    width: 200px;
    min-height: 50px;
    margin-left: -100px;
    padding: 0;
    text-align: center;
    overflow: hidden;
}
#controller_area .rt_predict_result_message img {
    width: 120px;
}
#controller_area .rt_predict_sub_effect {
    position: absolute;
    top: 25%;
    left: 55%;
    z-index: 9999;
    width: 200px;
    min-height: 50px;
    margin: 0;
    padding: 0;

}
#controller_area .rt_predict_sub_effect .rt_txt_effect_fade {
    margin-top: 0;
    font-size: 1.8em;
    color:#ff0000;
    text-shadow:#ff0000 0 1px 0, #c9c9c9 0 2px 0, #bbb 0 3px 0, #b9b9b9 0 4px 0, #aaa 0 5px 0,
    rgba(0,0,0,.1) 0 6px 1px, 
    rgba(0,0,0,.1) 0 0 5px, 
    rgba(0,0,0,.3) 0 1px 3px, 
    rgba(0,0,0,.15) 0 3px 5px, 
    rgba(0,0,0,.2) 0 5px 10px, 
    rgba(0,0,0,.2) 0 10px 10px, 
    rgba(0,0,0,.1) 0 20px 20px;
    animation-duration: 1.5;
}

#result_effect {
    animation-duration: 2s;
}

/* animation */
#ya .km-flat .km-content {
  background: rgba(0,0,0,0);
}
.ani_body {
    position: relative;
    width: 100%;
    height: 200px;
    /* background: radial-gradient(circle, #0077ea, #1f4f96, #1b2949, #000000); */
    
}

#ya .opacity_zero {
    background: rgba(0,0,0,0);   
}
#moadl_loading .opacity_zero {
    background: rgba(0,0,0,0);
}
#moadl_reward .opacity_zero {
    background: rgba(0,0,0,0);
}

.loading_enter {
    width: 150px;
    height: 100px;
    padding: 0;
    text-align: center;
}
.loading_enter_bar {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    background-image: url(../resource/loading.png);
    background-size: 420px 60px;

    -webkit-animation: enterLoading 1.1s steps(7) infinite;
    animation: enterLoading 1.1s steps(7) infinite;
}
@-webkit-keyframes enterLoading {
   from { background-position:    0px; }
     to { background-position: -420px; }
}
@keyframes enterLoading {
   from { background-position:    0px; }
     to { background-position: -420px; }
}
.loading_enter_txt {
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 0.7em;
    color: #fff;
}


/* RT new */
.str_left {
    left: 0;
}
.str_right {
    right: 0;
}

.rt_message {
    padding: 0px 10px;
    background-color: #3c3c3c;
    line-height: 16px;
    }
.rt_message span {
    font-size: .7em;
    color: #fff;
}

.rt_controller {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.rt_controller_stage {
    display: table;
    width: 100%;
}
.rt_controller_stage .rt_controller_life {
    display: table-cell;
    width: 25%;
    line-height: 12px;
    padding: 2px 0;
}
.rt_controller_stage .rt_progress_bar {
    display: table-cell;
    width: 50%;
    max-width: 200px;
}
.rt_controller_stage .rt_combo_show {
    display: table-cell;
    width: 25%;   
}


.rt_controller .rt_progress_btn_bg {
    display: table-cell;
    width: 75px;
    height: 77px;
    vertical-align: middle;
}
.rt_controller .rt_progress_btn_bg .rt_progress_btn_outline {
    position: relative;
    width: 65px;
    height: 65px;
    margin: auto 4px;
    background: url("../resource/rt/bg_ball.png") 0 0 no-repeat;
    background-size: cover;
}
.rt_controller .rt_clc_btn {
    width: 61px;
    height: 61px;
    margin: 1px 0 0 1px;
    background: url("../resource/rt/ball.png") 0 0 no-repeat;
    background-size: contain;
}
.rt_controller .rt_clc_btn.readyShoot {
    -webkit-filter: opacity(0.6) brightness(1.3) grayscale(1);
    filter: opacity(0.6) brightness(1.3) grayscale(1);
}

.clc_btn_spin {

    -webkit-animation-name: ball_spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: ball_spin;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes ball_spin {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-ransform: scale(0.9); }
    100% { -webkit-ransform: scale(1); }
}
@keyframes ball_spin {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

.rt_controller .rt_progress_bar .rt_pg__message {
    position: absolute;
    top: 26px;
    left: 3px;
    z-index: 7;
    font-size: .7em;
}
.rt_controller_stage .rt_progress_bar .rt_pg__bar {
    position: relative;
    width: 100%;
}
.rt_controller_stage .rt_progress_bar .rt_pg__bar .rt_pre_count {
    position: absolute;
    left: 45%;
    z-index: 3;
    padding-top: 1px;
    color: #fff;
    font-size: 9px;
    letter-spacing: 1px;
}


.meter {
    position: relative;
    width: 100%;
    height: 11px;
    padding: 0;
    border: 0;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    overflow: hidden;
    background-color: #b1b1b1;
}

.meter > span {
    display: block;
    height: 100%;
    margin-left:0;
    background-color: #00a99d;
}


.rt_controller .rt_timeline {
    position: relative;
    width: 100%;
}
.rt_controller .rt_timeline .rt_timeline_pre {
    display: table;
    width: 100px;
    height: 14px;
    margin: 0 auto;
    padding: 0;
    background: url(../resource/rts/rt_min_bg.png) 0 0 no-repeat;
    background-size: cover;
}
.rt_controller .rt_timeline .rt_timeline_pre .rt_timeline_cell {
    display: table-cell;
    width: 33.333%;
    font-size: 11px;
    color: #797979;
    text-align: center;
}
.rt_controller .rt_timeline .rt_timeline_pre .rt_timeline_cell.rt_timeline_now {
    color: #168f32;
}

.rt_controller .rt_prediction_area {
    position: relative;
    width: 100%;
    margin-top: 5px;
}
.rt_controller .rt_prediction_area .rt_prediction_drag_element {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-left: -23px;
    background: url(../resource/rts/rt_ball_on.png) 0 0 no-repeat;
    background-size: cover;
}
.rt_controller .rt_prediction_area .rt_prediction_drag_element.ball_off {
    background: url(../resource/rts/rt_ball_off.png) 0 0 no-repeat;
    background-size: cover;
}

.rt_controller .rt_prediction_area .rt_prediction_home {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 5%;
}
.rt_controller .rt_prediction_area .rt_prediction_away {
    position: absolute;
    z-index: 9;
    top: 0;
    right: 5%;
}
.rt_controller .rt_prediction_area .rt_prediction_amblem {
    width: 45px;
    height: 45px;
    padding: 7px;
    background: url(../resource/rts/rt_emblem_bg_off.png) 0 0 no-repeat;
    background-size: cover;
}
.rt_controller .rt_prediction_area .rt_prediction_amblem img {
    width: 100%;
}

.rt_controller .rt_prediction_area .rt_prediction_amblem .selectedTimer {
    text-align: center;
}
.rt_controller .rt_prediction_area .rt_prediction_amblem .selectedTimer div {
    margin-top: 4px;
    padding: 0;
    font-size: 22px;
    font-weight: 600;
    color: #168f32;
    line-height: 10px;
}
.rt_controller .rt_prediction_area .rt_prediction_amblem .selectedTimer span {
    font-size: 9px;
    color: #b1b1b1;
}

.rt_controller .rt_prediction_area .rt_prediction_arrow_control {
    display: table;
    width: 200px;
    height: 45px;
    margin: 0 auto;
}
.rt_controller .rt_prediction_area .rt_prediction_arrow_control .rt_prediction_arrow_home {
    display: table-cell;
    width: 72px;
    height: 45px;
    vertical-align: middle;
    position: relative;
}
.rt_controller .rt_prediction_area .rt_prediction_arrow_control .rt_prediction_drag_btn {
    display: table-cell;
    width: 56px;
    text-align: center;
    vertical-align: middle;
}


.rt_controller .rt_prediction_area .rt_prediction_arrow_control .rt_prediction_arrow_away {
    display: table-cell;
    width: 72px;
    height: 45px;
    vertical-align: middle;
    position: relative;
}
.rt_controller .rt_prediction_area .rt_prediction_arrow_control .rt_prediction_arrow_away .rt_prediction_count {
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: 0;
    font-size: 12px;
    font-weight: 600;
    color: #168f32;
    letter-spacing: 1px;
}
.rt_controller .rt_prediction_area .rt_prediction_arrow_control .rt_arrow_team {
    position: absolute;
    z-index: 9;
    top: 29%;
    font-size: 11px;
    color: #00a99d;
}
.rt_controller .rt_prediction_area .rt_prediction_arrow_control .rt_arrow_team_activate {
    position: absolute;
    z-index: 9;
    top: 29%;
    font-size: 10px;
    color: #b1b1b1;
}

.rt_controller .rt_prediction_area .rt_prediction_arrow_control .rt_arrow_team.rt_arrow_home {
    right: 35px;
}
.rt_controller .rt_prediction_area .rt_prediction_arrow_control .rt_arrow_team.rt_arrow_away {
    left: 35px;
}
.rt_controller .rt_prediction_area .rt_prediction_arrow_control .rt_arrow_team.empty_life {
    color: #b1b1b1;
}

.rt_controller .rt_prediction_area .rt_prediction_arrow_home .rt_arrow_animation_r2l {
    float: right;
    width: 30px;
    height: 10px;
    background: url(../resource/rts/rt_triangle.png) 0 0 repeat-x;
    background-size: cover;
    animation: animatedR2L 2s linear infinite;
}
.rt_controller .rt_prediction_area .rt_prediction_arrow_home .rt_arrow_animation_r2l__reverse {
    float: right;
    width: 30px;
    height: 10px;
    background: url(../resource/rts/rt_triangle.png) 0 -20px repeat-x;
    background-size: cover;
}
.rt_controller .rt_prediction_area .rt_prediction_arrow_away .rt_arrow_animation_l2r {
    width: 30px;
    height: 10px;
    background: url(../resource/rts/rt_triangle.png) 0 -10px repeat-x;
    background-size: cover;    
    animation: animatedL2R 2s linear infinite;
}
.rt_controller .rt_prediction_area .rt_prediction_arrow_away .rt_arrow_animation_l2r__reverse {
     width: 30px;
    height: 10px;
    background: url(../resource/rts/rt_triangle.png) 0 -30px repeat-x;
    background-size: cover;
}

@keyframes animatedR2L {
    0% { background-position: 0 0;}
    100% { background-position: -30px 0;}
}
@keyframes animatedL2R {
    0% { background-position: 0 -10px;}
    100% { background-position: 30px -10px;}
}

/* RT */


.rt_prediction_success {
    color: #fff200;
}
.rt_prediction_fail {
    color: #ff0101;
}

.star_ani {
    display: inline-block;
    position: absolute;
    z-index: 9;
    top: -7px;
    left: 14px;
    width: 40px;
    height: 40px;
    font-size: 14px;
    text-indent: -99999px;
    line-height: 18px;
    background: url(../resource/rt/ani_star.png) center center no-repeat;
    background-size: 280px 40px;
    
    -webkit-animation: starAni 1.2s steps(7);
    animation: starAni 1.2s steps(7);
}
@-webkit-keyframes starAni {
   from { background-position:    0px; }
     to { background-position: -280px; }
}
@keyframes starAni {
   from { background-position:    0px; }
     to { background-position: -280px; }
}


.rt_reward {
    padding: 0 10%;
}
.rt_reward .rt_reward__str {
    font-size: 10px;
    color: #fff;
}
.rt_reward .rt_reward_box {
    display: block;
}
.rt_reward .rt_reward_box__grid {
    display: inline-block;
    width: 80px;
    height: 113px;
    position: relative;
    -webkit-perspective: 800px;
    perspective: 800px;
}
.rt_reward .rt_reward_card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: transform 1s;
    transition: transform 1s;
}
.rt_reward .rt_reward_card figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.rt_reward .rt_reward_card .rt_reward_card__front {
    background: url(../resource/rts/reward_card_off.png) 0 0 no-repeat;
    background-size: cover;
}
.rt_reward .rt_reward_card .rt_reward_card__back {
    background: url(../resource/rts/reward_card_on.png) 0 0 no-repeat;
    background-size: cover;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.rt_reward .rt_reward_card.rt_reward_crad__flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* RT RESULT View */
.contest-match-list ul.collapseRTList li {
    clear: both;
    width: 100%;
    margin: .5em 0 0 0;
    padding: 0;
    font-size: .9em;
    color: #3c3c3c;
    background-color: #fff;
    border-radius: 3px;
}
ul.collapseRTList .rtListDiv {
    width: 100%;
}
ul.collapseRTList .rt-games-row {
    display: table;
    width: 100%;
    min-height: 30px;
    padding: 0 .3em;
}
ul.collapseRTList .rt-games-row .rt-games-label {
    display: table-cell;
    font-size: 0.7em;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: .6em;
    border-bottom: 1px solid #e9e9e9;
}
ul.collapseRTList .rt-games-row .rt-games-data {
    display: table-cell;
    font-size: 1.1em;
    padding-top: .5em;
    text-align: center;
}
ul.collapseRTList .rt-games-row .rt-list-home {
    width: 35%;    
}
ul.collapseRTList .rt-games-row .rt-list-info {
    width: 30%;    
}
ul.collapseRTList .rt-games-row .rt-list-away {
    width: 35%;   
}
ul.collapseRTList .rt-status-badge {
    display: inline-block;
    min-width: 32px;
    min-height: 16px;
    padding: 0px 2px;
    font-size: 7px;
    color: #fff;
    text-align: center;
    vertical-align: top;
    border-radius: 3px;
    background-color: #adadad;
}
ul.collapseRTList .rt-on {
    background-color: #73b126;
}
ul.collapseRTList .rt-off {
    background-color: #adadad;
}
ul.collapseRTList .rt-non {
    background-color: #3180a4;
}

.font-red {
    color: #f8494f;
}
.font-cyan {
    color: #00c0ff;   
}

.sparkley {
  background: #3e5871;
  color: white;
  border: none;
  padding: 16px 36px;
  font-weight: normal;
  border-radius: 3px;
  transition: all 0.25s ease;
  box-shadow: 0 38px 32px -23px black;
  margin: 0 1em 1em;
}
.sparkley:before {
  background: #2c3e50;
  color: rgba(255, 255, 255, 0.2);
}


.contents-rt-view {
    background-color: #1a1a1a;
    width: 100%;
    margin: 0;
    padding: 1px 0 0 0;
}
.contents-rt-view .contest-rt-result {
    padding: 0.5em;
    background-color: #2a2a2a;
}
.contents-rt-view .contest-rt-result .rt_14_label_bar {
    position: relative;
    width: 100%;
    margin: 0;
    padding: .4em 0;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    background-color: #00507c;
}

.contents-rt-view .contest-rt-result .rt_14_result_table {
    width: 100%;
    margin: 0;
    padding: .5em;
}

.rt_14_result_table .rt_14_result_summary {
    display: table;
    width: 100%;
}
.rt_14_result_table .rt_14_result_summary .rt_14_result_dls {
    display: table-cell;
    width: 33.3333;
    border-left: 1px solid #83bad8;
}
.rt_14_result_table .rt_14_result_summary .rt_14_result_dls:first-child {
    border: 0;   
}
.rt_14_result_table .rt_14_result_summary .rt_14_result_dls dl {
    margin: 0;
    padding: 0;
}
.rt_14_result_table .rt_14_result_summary .rt_14_result_dls dt {
    width: 100%;
    margin: 0;
    padding: 5px 0;
    text-align: center;
    font-size: 0.8em;
    color: #fff;
    
}
.rt_14_result_table .rt_14_result_summary .rt_14_result_dls dd {
    width: 100%;
    margin: 0;
    padding: 8px 0;
    text-align: center;
    font-size: 1.3em;
    color: #fff200;
}

.contents-rt-view .contest-rt-result .rt_14_result_timeline table {
    width: 100%;
}
.contents-rt-view .contest-rt-result .rt_14_result_timeline thead th {
    width: 33.33333%;
    margin: 0;
    padding: 6px;
    font-size: .8em;
    color: #fff;
    background-color: #00507c;
}
.contents-rt-view .contest-rt-result .rt_14_result_timeline tbody td {
    margin: 0;
    padding: 6px;
    font-size: .8em;
    color: #fff;
    text-align: center;
}

.contents-rt-view .contest-rt-result .rt_14_result_timeline span.success {
    color: #fff200;
}
.contents-rt-view .contest-rt-result .rt_14_result_timeline span.fail {
    color: #ff0101;
}

.clc_box .clc_result {
    margin: 0 auto;
    padding: 0;
    width: 120px;
    height: 120px;
    background: url(../resource/rt/btn_result.png) 0 center no-repeat;
    background-size: 100%;
    text-align: center;
}

.fever_box {
    position: absolute;
    width: 250px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: 0px;
    margin-left: -115px;
}
.fever_box .fever_image {
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.fever_box p {
    font-size: 0.8em;
    color: #fff;
    line-height: 1.8em;
    margin: 0;
    text-align: center;
}

.fever_box img {
    width: 100%;
}


/* GNB */
.gnb-view {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.gnb-view .gnb-out {
    position: relative;
    padding: 0.8em;
    background-color: #fff;
}
.gnb-view .gnb-out .gnb-inner {
    padding: .8em;
}
.gnb-view .gnb-out .gnb-inner h4 {
    width: 100%;
    margin: 0;
    padding-bottom: 3px;
    font-size: 0.8em;
    color:#939393;
    border-bottom: 1px solid #e9e9e9;
}
.gnb-view .gnb-out .gnb-inner dl {
    display: table;
    width: 100%;
    min-height: 54px;
    margin: 0;
    border-bottom: 1px solid #e9e9e9;
}
.gnb-view .gnb-out .gnb-inner dt {
    display: table-cell;
    width: 50%;
    color: #3c3c3c;
    padding: 0.9em 0 .8em 0;
    vertical-align: middle;
}
.gnb-view .gnb-out .gnb-inner dd {
    display: table-cell;
    width: 50%;
    padding: 0.9em 0 .8em 0;
    vertical-align: middle;
    text-align: right;
}



.swipe {
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.wc-widget{
    width: 100%;
    overflow-y: scroll;
}