#shop_main .km-content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
}

.shop_static_banner {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 5px;
    background-color: #e9e9e9;
}
.shop_static_banner .shop_static_banner__box {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-size: 100%;
}

.shop_box {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.shop_box .shop_box_body {
    width: 100%;
    padding: 0 5px 80px 5px;
    background-color: #e9e9e9;
    
}

.shop_box .shop_box_body ul.inboxList {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.shop_box .shop_box_body ul.inboxList li {
    width: 100%;
    font-size: 12px;
    color: #9b9b9b;
    margin-top: 5px;
    padding: 8px;
    background-color: #fff;
    border-radius: 3px;
}
.shop_box .shop_box_body ul.inboxList li a {
    width: 100%;
    margin: 0;
    padding: 0;
}
.shop_box .shop_box_body ul.inboxList .inboxList_face {
    display: table;
    width: 100%;
    height: 50px;
    padding: 0;
}
.shop_box .shop_box_body ul.inboxList .inboxList_face .inboxList_face__ico {
    display: table-cell;
    width: 60px;
    height: 50px;
}
.shop_box .shop_box_body ul.inboxList .inboxList_face .inboxList_face__desc {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}
.shop_box .shop_box_body ul.inboxList .inboxList_face .inboxList_face__ico .item_ico {
    position: relative;
    width: 50px;
    height: 50px;
}
.shop_box .shop_box_body ul.inboxList .inboxList_face .inboxList_face__ico .item_ico .marker_hot {
    position: absolute;
    width: 20px;
    height: 6px;
    top: 3px;
    left: 0;
    z-index: 9;
    background: url(../resource/shop/ic_text_hot.png) 0 center no-repeat;
    background-size: 100%;
}
.shop_box .shop_box_body ul.inboxList .inboxList_face .inboxList_face__ico .item_ico .marker_new {
    position: absolute;
    width: 20px;
    height: 6px;
    top: 3px;
    left: 0;
    z-index: 9;
    background: url(../resource/shop/ic_text_new.png) 0 center no-repeat;
    background-size: 100%;
}
.shop_box .shop_box_body ul.inboxList .inboxList_face img {
    width: 100%;
}
.shop_box .shop_box_body ul.inboxList .item_label {
    font-size: 12px;
    font-weight: 600;
    color: #3c3c3c;
    text-align: left;
    word-break: break-all;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.shop_box .shop_box_body ul.inboxList .inboxList_face {
    width: 100%;
    text-align: left;
}
.shop_box .shop_box_body ul.inboxList .inboxList_face .inboxList_face__desc .item_gold {
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 18px;
    background: url(../resource/shop/ic_gold_02.png) 0 center no-repeat;
    background-size: 14px 14px;
}
.shop_box .shop_box_body ul.inboxList .inboxList_face .inboxList_face__desc span {
    font-size: 12px;
    color: #3c3c3c;
}


#shop_main .static_menus {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 75px;
    margin: 0;
    padding: 10px 0 5px 0;
    background-color: #3c3c3c;
}
#shop_main .static_menus .static_menus__boxs {
    display: table;
    width: 100%;
    height: 60px;
}
#shop_main .static_menus .static_menus__boxs .static_menus__box {
    position: relative;
    display: table-cell;
    width: 25%;
}

#shop_main .menu_box_deco-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0 5px;
    z-index: -1;
}
#shop_main .menu_box_deco-shadow .menu_box_deco-shadowon {
    width: 100%;
    height: 100%;
    -moz-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.3);/*FF 3.5+*/
    -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.3);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */    
}
#shop_main .static_menus .static_menus__boxs .static_menus__box a {
    width: 100%;
}

#shop_main .box_btn {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    margin-top: 5px;
}
#shop_main .box_str {
    width: 100%;
    height: 15px;
    text-align: center;
    font-size: 11px;
    color: #fff;
}

#shop_main .box_r_padding {
    padding-right: 5px;
}
#shop_main .box_lr_padding {
    padding-left: 5px;
    padding-right: 5px;
}
#shop_main .box_lr_padding {
    padding-left: 5px;
    padding-right: 5px;
}

.with_cards {
    background: url(../resource/shop/btn_shop_001.png) 0 0 no-repeat;
    background-size: 100%;
}
.with_jem {
    background: url(../resource/shop/btn_shop_002.png) 0 0 no-repeat;
    background-size: 100%;
}
.with_service {
    background: url(../resource/shop/btn_shop_003.png) 0 0 no-repeat;
    background-size: 100%;    
}
.with_gold {
    background: url(../resource/shop/btn_shop_004.png) 0 0 no-repeat;
    background-size: 100%;    
}

.shop_pak {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #e9e9e9;
}
.shop_pak .pak_box {
    width: 100%;
    padding: 0 10px;
}
.shop_pak .pak_box__basic {
    position: relative;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f8f8f8;
}
.shop_pak .pak_box__desc {
    position: relative;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
}
.shop_pak .pak_box__desc .pak_desc {
    font-size: 12px;
    color: #3c3c3c;
    padding: 5px 2px;
}
.shop_pak .pak_box__featured {
    position: relative;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
}
.shop_pak .pak_box__featured .pak_label {
    font-size: 12px;
    font-weight: 700;
    color: #3c3c3c;
    padding: 5px 2px;
}
.shop_pak .pak_box__featured .pak_label span {
    font-size: 12px;
    
    color: #3c3c3c;
}
.shop_pak .pak_box__featured ul {
    margin: 10px;
    padding: 0;
    list-style: none;
}
.shop_pak .pak_box__featured li {
    font-size: 11px;
    color: #3180a4;
    line-height: 18px;
}

.shop_pak .pak_box__items {
    position: relative;
    margin-top: 10px;
    padding: 0px;
}
.shop_pak .pak_box__items .skill_item {
    display: table;
    width: 100%;
}
.shop_pak .pak_box__items .skill_item .skill_item_box {
    display: table-cell;
    text-align: center;
}
.shop_pak .pak_box__items .skill_item .skill_item_box.box_left {
    padding-right: 2px;
}
.shop_pak .pak_box__items .skill_item .skill_item_box.box_center {
    padding: 0 1px;
}
.shop_pak .pak_box__items .skill_item .skill_item_box.box_right {
    padding-left: 2px;
}
.shop_pak .pak_box__items .skill_item .skill_item_box .skill_item_box__outlet {
    background-color: #fff;
}
.shop_pak .pak_box__items .skill_item .skill_item_box .skill_item_box__outlet.radius_top-left {
    border-radius: 5px 0 0 0;
}
.shop_pak .pak_box__items .skill_item .skill_item_box .skill_item_box__outlet.radius_top-right {
    border-radius: 0 5px 0 0;
}
.shop_pak .pak_box__items .skill_item .skill_item_box .item_img {
    padding: 15px;
}
.shop_pak .pak_box__items .skill_item .skill_item_box .item_img img {
    width: 100%;
}
.shop_pak .pak_box__items .skill_item .skill_item_box .item_label {
    padding: 5px 2px;
    font-size: 11px;
    color: #fff;
    background-color: #3c3c3c;
}

.shop_pak .pak_box__basic .pak_box__table {
    display: table;
    width: 100%;
    padding: 3px;
    border-radius: 3px;
    background-color: #f8f8f8;
}
.shop_pak .pak_box__basic .pak_box__table .pak_box__img {
    display: table-cell;
    width: 80px;
    height: 80px;
}
.shop_pak .pak_box__basic .pak_box__table .pak_box__img img {
    width: 100%;
}
.shop_pak .pak_box__basic .pak_box__table .pak_box__info {
    display: table-cell;
    padding-left: 10px;
    text-align: left;
    vertical-align: middle;
}
.shop_pak .pak_box__basic .pak_box__table .pak_box__info .goods_label {
    font-size: 14px;
    font-weight: 700;
    color: #3c3c3c;
}
.shop_pak .pak_box__basic .pak_box__table .pak_box__info .goods_price {
    margin-top: 12px;
}
.shop_pak .pak_box__basic .pak_box__table .pak_box__info .goods_price .price_label {
    font-size: 10px;
    color: #9b9b9b;
}
.shop_pak .pak_box__basic .pak_box__table .pak_box__info .goods_price .price_amount {
    padding-left: 18px;
    background: url(../resource/shop/ic_gold_02.png) 0 center no-repeat;
    background-size: 14px 14px;
}


.shop_pak .pak_purchase {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 5px 0;
    background-color: #3c3c3c;
}
.shop_pak .pak_purchase .pak_orders {
    display: table;
    width: 100%;
    height: 100%;
}
.shop_pak .pak_purchase .pak_orders .pak_order {
    display: table-cell;
    width: 50%;
    height: 100%;
}
.shop_pak .pak_purchase .pak_orders .pak_order a {
  width: 100%;
  height: 100%;    
}
.shop_pak .pak_purchase .pak_orders .pak_button {
    height: 100%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    border-radius: 3px;
}
.shop_pak .pak_purchase .pak_orders .pak_button.order_cancel {
    margin-left: 5px;
    margin-right: 2.5px;
    padding-top: 12px;
    font-size: 14px;
    background-color: #9b9b9b;
}
.shop_pak .pak_purchase .pak_orders .pak_button.order_ok {
    margin-left: 2.5px;
    margin-right: 5px;
    padding-top: 12px;
    background-color: #3180a4;
}


#moadl_purchaseEffect .km-content {
    /* background: rgba(0,0,0,0.7); */
    width: 100%;
    height: 100%;
    background: url(../resource/common/card_bg.png) 0 center no-repeat;
    background-size: 100%;
}
#moadl_purchaseEffect .km-header {
    height: 32px;
}
#moadl_purchaseEffect .km-view-title {
    height: 32px;
    border-radius: 8px 8px 0 0;
    background: rgba(0,0,0,0.7);
}
#moadl_purchaseEffect .km-navbar {
    border: 0;
    background: rgba(0,0,0,0);
}
#moadl_purchaseEffect .km-footer {
    height: 15px;
    border-radius: 0 0 8px 8px;
    background: rgba(0,0,0,0.7);
}
.purchase_box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.purchase_box .purchase_box__card {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.purchase_box .purchase_box__card .swipe {
    position: absolute;
    width: 100%;
    height: 186px;
    top: 50%;
    margin-top: -93px;
    left: 0;
    z-index: 1;
}
.purchase_box .purchase_box__card .swipe-wrap {
    width: 120px;
    height: 186px;
    margin: 0 auto;
}
.purchase_box .purchase_box__card .cardpack {
    position: absolute;
    width: 100%;
    height: 186px;
    top: 50%;
    margin-top: -93px;
    left: 0;
    z-index: 1;
}
.purchase_box .purchase_box__card .cardpack-wrap {
    width: 120px;
    height: 186px;
    margin: 0 auto;
}

.card_pack_oul {
    position: absolute;
    width: 100%;
    height: 186px;
    top: 50%;
    left: 50%;
    margin-top: -93px;
    margin-left: -60px;
}


.card_pack {
    width: 120px;
    height: 186px;
    margin: 0 auto;
}
.card_pack .card_pack_pos {
    position: relative;
    width: 120px;
    height: 100%;
}
.card_pack .card_pack_pos .card_pack__label {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    z-index: 9;
}
.card_pack .card_pack_pos .card_pack__label .playercard {
    display: table;
    width: 113px;
}
.card_pack .card_pack_pos .card_pack__label .playercard .playercard__lv {
    display: table-cell;
    font-size: 14px;
    color: #fff;
    -webkit-text-stroke: 1px black;
    text-align: right;
    vertical-align: bottom;
}
.card_pack .card_pack_pos .card_pack__label .playercard .playercard__no {
    display: table-cell;
    width: 35px;
    height: 35px;
    font-size: 13px;
    font-weight: 700;
    line-height: 35px;
    background: url(../resource/club/bg_t-shirt.png) 0 center no-repeat;
    background-size: 100%;
}
.card_pack .card_pack_pos .card_pack__label .playercard_name {
    clear: both;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    /* -webkit-text-stroke: 1px rgba(0,0,0,.5); */
    text-shadow: 0 1px 3px rgba(0,0,0,1);
}
.card_pack .card_pack_pos .card_pack__husks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: url(../resource/club/card_bg.png) 0 center no-repeat;
    background-size: 100%;
}
.card_pack .card_pack_pos .card_pack__husks.gold_pack {
    background: url(../resource/club/card_bg_gold.png) 0 center no-repeat;
    background-size: 100%;
}
.card_pack .card_pack_pos .card_pack__stat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    padding: 15px 10px;
}
.card_pack .card_pack_pos .card_pack__stat .playercard__grade {
    display: table;
    width: 90px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.card_pack .card_pack_pos .card_pack__stat .playercard__emblem {
    width: 90px;
    height: 90px;
    margin: 10px auto;
}
.card_pack .card_pack_pos .card_pack__stat .playercard__grade span {
    display: inline-block;
    width: 15px;
    height: 15px;
    text-indent: 999999px;
    background: url(../resource/club/star_off.png) 0 center no-repeat;
    background-size: contain;
}
.card_pack .card_pack_pos .card_pack__stat .playercard__grade span.star-on {
    background: url(../resource/club/star_on.png) 0 center no-repeat;
    background-size: contain;
}

.card_pack .card_pack_pos .card_pack__back {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 110px;
    height: 176px;
    z-index: 1;
}
.card_pack .card_pack_pos .card_pack__back .card_pack_pattern {
    width: 100%;
    height: 100%;
    background: url(../resource/club/waves.png) 0 0;
    opacity: 0.5;    
}

.confirm_box {
    position: absolute;
    width: 180px;
    height: 34px;
    bottom: 10%;
    left: 50%;
    margin-left: -90px;
}
.confirm_box .a_tag {
    width: 100%;
    height: 100%;
}
.confirm_box .a_tag a {
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    line-height: 34px;
    border-radius: 3px;
    background-color: #73b126;
}

.card_grade_0 {
    background-color: #cecece;
}
.card_grade_1 {
    background-color: #fff;
}
.card_grade_2 {
    background-color: #2e42a6;
}
.card_grade_3 {
    background-color: #116b3c;
}
.card_grade_4 {
    background-color: #731871;
}
.card_grade_5 {
    background-color: #ed6322;
}
.card_grade_6 {
    background-color: #e5e1bb;
}
.card_husks_gold {
    background: url(../resource/club/card_bg_gold.png) 0 center no-repeat;
    background-size: 100%;
}