<div
    id="po_entry_players"
    data-role="view" 
    data-title="선수 선택하기"
    data-layout="main"
    data-model="app.Playerz"
    data-init="app.Playerz.init"
    data-show="app.Playerz.vwParam"
    data-transition="slide">

    <div data-role="header" class="rnkb-wiz">
        <div data-role="navbar">
            <a class="drawer-btn" data-align="left" data-role="backbutton" href="#po_entry_registration" data-transition="slide:right">
                <img src="./assets/resource/btn_back.png">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span id="play-title" data-role="view-title"></span>
        </div>

        <div class="property-mini-info">
            <div class="property-box-padding">
                <div class="property-box bg-ruby">
                    <span class="amount_mini_ruby">0</span>
                    <span class="proper-add-btn"> <a data-role="button" data-click="app.ObjControl.launchShop"><img src="./assets/resource/btn_plus.png"></a> </span>
                </div>
            </div>
        </div>

        <div class="salarycap-position">
            
            <div class="salarycap-box">
                <h4>사용가능 샐러리 캡</h4>
                <div class="salarycap-gage">
                    <p></p>
                    <div>
                        <p></p>
                    </div>
                </div>
            </div>
            
            <div class="salarycap-box-padding">
                <div class="salarycap-box-moz-vw">   
                    <a data-role="button" href="#do-popover-pos" data-rel="popover"><span id="sort-player-label">샐러리</span> <span id="sort-player-ico" class="bg-box ic-triangle-n-on"></span></a>
                </div>
            </div>
        </div>
        
        <div id="do-popover-pos" data-role="popover" class="popover_div" data-popup='{ "width": "160" }'>
            <div data-role="view" id="popover-play-vw">
                <ul>
                    <li><label id="orderLabelPosition" class="sortClass2">포지션</label> <a id="orderByPosition" data-role="button" data-rel="off" data-val="1" data-order="asc" data-align="right" data-click="app.Playerz.playerListSort"><span class="bg-box ic-triangle-n"></span></a></li>
                    <li><label id="orderLabelPlayer" class="sortClass2">네임</label> <a id="orderByPlayer" data-role="button" data-rel="off" data-val="2" data-order="asc" data-align="right" data-click="app.Playerz.playerListSort"><span class="bg-box ic-triangle-n"></span></a></li>
                    <li><label id="orderLabelFPPG" class="sortClass2">FPPG</label> <a id="orderByFPPG" data-role="button" data-rel="off" data-val="3" data-order="asc" data-align="right" data-click="app.Playerz.playerListSort"><span class="bg-box ic-triangle-n"></span></a></li>
                    <li><label id="orderLabelSalary" class="sortClass2 sort-l">샐러리</label> <a id="orderBySalary" data-role="button" data-rel="on" data-val="4" data-order="asc" data-align="right" data-click="app.Playerz.playerListSort"><span class="bg-box ic-triangle-n-on"></span></a></li>
                </ul>
            </div>
        </div>
        
        
        <ul class="player_list_header">
            <li class="clearfix header">
                <div class="listitem_position">포지션</div>
                <div class="listitem_name">네임</div>
                <div class="listitem_fppg">FPPG</div>
                <div class="listitem_salary">샐러리</div>
                <div class="listitem_btns"></div>
            </li>
        </ul>
        
    </div>
<!--
    <div id="popover_player_guide">
        <div class="km-popup-arrow"></div>
        <div class="popover_guide_str"><span class="km-icon"></span>당겨서 다음 선수들 보기가능</div>
    </div>
//-->    
    <div id="players-box">
        <ul id="players_list" class="player_detail" data-role="listview">
        </ul>
    </div>
</div>



<script id="playerListTemplate" type="text/x-kendo-template">
    # if(salaryLimit > salary) { 
            entryStatus = "";
            entryImg = "btn_plus_02.png";
            controlClass = "addPlayer";
            salaryColor = "";
            entryBtn = "app.Playerz.addPlayer";
        } else {
            entryStatus = "on";
            entryImg = "btn_minus_02.png";
            controlClass = "removePlayer";
            salaryColor = "warning";
            entryBtn = "app.Playerz.overPlayer";
        }
        if(posType === 1) {
            playerPostionLabel = "F";
        } else if(posType === 2) {
            playerPostionLabel = "M";
        } else if(posType === 4) {
            playerPostionLabel = "D";
        } else if(posType === 8) {
            playerPostionLabel = "G";
        } else {
            playerPostionLabel = "";
        }
    #

    <div class="listitem_position">#:playerPostionLabel#</div>
    <div class="listitem_name"><a data-role="button" data-rel="#:playerID#" data-val="" data-click="app.Playerz.playerAddInfo">#:playerName#<br><span>#:teamName#</span></a></div>
    <div class="listitem_fppg">#:fppg#</div><div class="listitem_salary #:salaryColor#">$#:kendo.toString(salary,"n0")#</div>
    <div class="listitem_btns"><a data-role="button" data-salary="#:salary#" data-rel="#:playerID#" data-status="#:entryStatus#" class="#:controlClass#" data-click="#:entryBtn#"><img id="entry-#:playerID#" src="./assets/resource/#:entryImg#"></a></div>
    
</script>
