<div
    id="po_entry_registration"
    data-role="view" 
    data-title="엔트리 등록"
    data-layout="main"
    data-model="app.Entry"
    data-init="app.Entry.init"
    data-transition="slide">

    <div data-role="header" data-reload="true" class="rnkb-wiz">
        <div data-role="navbar">
            <a class="drawer-btn" data-align="left" data-role="backbutton" href="#mv_play_contest" data-transition="slide:right">
                <img src="./assets/resource/btn_back.png">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span id="play-title" data-role="view-title"></span>
        </div>

        <div class="property-mini-info">
            <div class="property-box-padding">
                <div id="my-ruby" class="property-box bg-ruby">
                    <span id="amount-ruby" class="amount_mini_ruby">0</span>
                    <span class="proper-add-btn"> <img src="./assets/resource/btn_plus.png"> </span>
                </div>
            </div>
        </div>

        <div class="salarycap-position">
            <div class="salarycap-box">
                <h4>사용가능 샐러리 캡</h4>
                <div id="progressBar" class="salarycap-gage">
                    <p></p>
                    <div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="salarycap-box-padding">
            </div>
        </div>
    </div>

    <div id="entry-box">
            <div class="position-layout">
                <ul class="position-type">
                    <li>
                        <ol class="fw">
                            <li>
                                <div class="player-box-jersey">
                                    <div class="fw-ico">
                                        <p><a data-role="button" data-rel="1" data-slot="slot1" data-click="app.Entry.setPlayerEntry"><img class="btn-slots" id="img-slot1" src="./assets/resource/btn_player_plus.png" width="100%"></a></p>
                                    </div>
                                </div>
                                <div class="player-box-player">
                                    <span class="player-slots-f" id="player-slot1">Player</span>
                                </div>
                            </li>
                            <li>
                                <div class="player-box-jersey">
                                    <div class="fw-ico choice-off">
                                        <p><a data-role="button" data-rel="1" data-slot="slot2" data-click="app.Entry.setPlayerEntry"><img class="btn-slots" id="img-slot2" src="./assets/resource/btn_player_plus.png" width="100%"></a></p>
                                    </div>
                                </div>
                                <div class="player-box-player">
                                    <span class="player-slots-f" id="player-slot2">Player</span>
                                </div>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <ol class="mf">
                            <li>
                                <div class="player-box-jersey">
                                    <div class="mf-ico choice-off">
                                        <p><a data-role="button" data-rel="2" data-slot="slot3" data-click="app.Entry.setPlayerEntry"><img class="btn-slots" id="img-slot3" src="./assets/resource/btn_player_plus.png" width="100%"></a></p>
                                    </div>
                                </div>
                                <div class="player-box-player">
                                    <span class="player-slots-m" id="player-slot3">Player</span>
                                </div>
                            </li>
                            <li>
                                <div class="player-box-jersey">
                                    <div class="mf-ico  choice-off dmf-ico">
                                        <p><a data-role="button" data-rel="15" data-slot="slot4" data-click="app.Entry.setPlayerEntry"><img class="btn-slots2" id="img-slot4" src="./assets/resource/btn_player_plus_02.png" width="100%"></a></p>
                                    </div>
                                </div>
                                <div class="player-box-player">
                                    <span id="player-slot4">Player</span>
                                </div>
                            </li>
                            <li>
                                <div class="player-box-jersey">
                                    <div class="mf-ico choice-off">
                                        <p><a data-role="button" data-rel="2" data-slot="slot5" data-click="app.Entry.setPlayerEntry"><img class="btn-slots" id="img-slot5" src="./assets/resource/btn_player_plus.png" width="100%"></a></p>
                                    </div>
                                </div>
                                <div class="player-box-player">
                                    <span class="player-slots-m" id="player-slot5">Player</span>
                                </div>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <ol class="df">

                            <li>
                                <div class="player-box-jersey">
                                    <div class="df-ico choice-off">
                                        <p><a data-role="button" data-rel="4" data-slot="slot6" data-click="app.Entry.setPlayerEntry"><img class="btn-slots" id="img-slot6" src="./assets/resource/btn_player_plus.png" width="100%"></a></p>
                                    </div>
                                </div>
                                <div class="player-box-player">
                                    <span class="player-slots-d" id="player-slot6">Player</span>
                                </div>
                            </li>
                            <li>
                                <div class="player-box-jersey">
                                    <div class="df-ico choice-off">
                                        <p><a data-role="button" data-rel="4" data-slot="slot7" data-click="app.Entry.setPlayerEntry"><img class="btn-slots" id="img-slot7" src="./assets/resource/btn_player_plus.png" width="100%"></a></p>
                                    </div>
                                </div>
                                <div class="player-box-player">
                                    <span class="player-slots-d" id="player-slot7">Player</span>
                                </div>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <ol class="gk">
                            <li>
                                <div class="player-box-jersey">
                                    <div class="gk-ico choice-off">
                                        <p><a data-role="button" data-rel="8" data-slot="slot8" data-click="app.Entry.setPlayerEntry"><img class="btn-slots" id="img-slot8" src="./assets/resource/btn_player_plus_02.png" width="100%"></a></p>
                                    </div>
                                </div>
                                <div class="player-box-player">
                                    <span id="player-slot8">Player</span>
                                </div>
                            </li>
                        </ol>
                    </li>
                </ul>
            </div>
            <img src="./assets/resource/bg_soccer_field.png" width="100%">
    </div>

    <div id="entry-control-box">
        <div class="control-box">
            <a class="btn-close" data-role="button" data-click="app.Entry.allClear">초기화</a>
        </div>
        <div class="control-box">
            <a id="entryRegBtn" class="btn-confirm disabled" data-role="button" data-rel="disabled" data-click="app.Entry.regEntry">엔트리 등록 완료</a>
        </div>
    </div>

</div>

<script>

    
</script>