<div
    id="po_entry_registration"
    data-role="view" 
    data-title="엔트리 등록"
    data-layout="main"
    data-model="app.Entry"
    data-init="app.Entry.init"
    data-show="app.Entry.updateBar"
    data-transition="slide">

    <div data-role="header" data-reload="true" class="rnkb-wiz">
        <div data-role="navbar">
            <a class="drawer-btn" data-align="left" data-role="button" data-click="app.Entry.returnContestPlay">
                <img src="./assets/resource/btn_back.png">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span id="play-title" data-role="view-title"></span>
        </div>

        <div class="property-mini-info">
            <div class="property-box-padding">
                <div class="nothing_used">
                    FANTASY FOOTBALL LIVE
                </div>
            </div>
            
            <div class="property-box-padding">
                <div class="property-box bg-ruby">
                    <span class="amount_mini_ruby">0</span>
                    <a data-role="button" data-align="right" data-click="app.ObjControl.launchShop"><img src="./assets/resource/btn_plus.png"></a>
                </div>
            </div>
        </div>

        <div class="salarycap-position linear_bg">
            <div class="salarycap-box">
                <h4 data-labelnum="15">사용가능 샐러리 캡</h4>
                <div id="gae_salarycap" class="salarycap-gage">
                    <p></p>
                    <div>
                        <p></p>
                    </div>
                </div>
                <div class="salarycap-overflow hide"></div>
            </div>
        </div>
    </div>
    <div id="entryOutline" class="entry_outline">
        <div id="entry-box" class="entry-box-all">
                <div class="position-layout">
                    <ul class="position-type">
                        <li>
                            <div class="position_box">
                                <div class="position_box__fw">
                                    
                                    <a data-role="button" data-rel="1" data-slot="slot1" data-click="app.Entry.setPlayerEntry">
                                        <div class="player_box">
                                            <div class="player_box_img fw-bg">
                                                <div id="img-slot1" class="slot_btn fw-ico player_plus"></div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="player-slots slot_pn_f" id="player-slot1">FW</div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="salary-slots slot_ps" id="player-salary-slot1">$0</div>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                                <div class="position_box__fw">
                                    
                                    <a data-role="button" data-rel="1" data-slot="slot2" data-click="app.Entry.setPlayerEntry">
                                        <div class="player_box">
                                            <div class="player_box_img fw-bg">
                                                <div id="img-slot2" class="slot_btn fw-ico player_plus"></div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="player-slots slot_pn_f" id="player-slot2">FW</div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="salary-slots slot_ps" id="player-salary-slot2">$0</div>
                                            </div>
                                        </div>
                                    </a>
                                    
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="position_box">
                                <div class="position_box__mf">
                                    <a data-role="button" data-rel="2" data-slot="slot3" data-click="app.Entry.setPlayerEntry">
                                        <div class="player_box">
                                            <div class="player_box_img mf-bg">
                                                <div id="img-slot3" class="slot_btn mf-ico player_plus"></div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="player-slots slot_pn_m" id="player-slot3">MF</div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="salary-slots slot_ps" id="player-salary-slot3">$0</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="position_box__mf">
                                    <a data-role="button" data-rel="15" data-slot="slot4" data-click="app.Entry.setPlayerEntry">
                                        <div class="player_box">
                                            <div class="player_box_img mflex-bg">
                                                <div id="img-slot4" class="slot_btn mf-ico player_plus"></div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="player-slots slot_pn_m" id="player-slot4">FLEX</div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="salary-slots slot_ps" id="player-salary-slot4">$0</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="position_box__mf">
                                    <a data-role="button" data-rel="2" data-slot="slot5" data-click="app.Entry.setPlayerEntry">
                                        <div class="player_box">
                                            <div class="player_box_img mf-bg">
                                                <div id="img-slot5" class="slot_btn mf-ico player_plus"></div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="player-slots slot_pn_m" id="player-slot5">MF</div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="salary-slots slot_ps" id="player-salary-slot5">$0</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="position_box">
                                <div class="position_box__df">
                                    
                                    <a data-role="button" data-rel="4" data-slot="slot6" data-click="app.Entry.setPlayerEntry">
                                        <div class="player_box">
                                            <div class="player_box_img df-bg">
                                                <div id="img-slot6" class="slot_btn df-ico player_plus"></div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="player-slots slot_pn_d" id="player-slot6">DF</div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="salary-slots slot_ps" id="player-salary-slot6">$0</div>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                                <div class="position_box__df">
                                    
                                    <a data-role="button" data-rel="4" data-slot="slot7" data-click="app.Entry.setPlayerEntry">
                                        <div class="player_box">
                                            <div class="player_box_img df-bg">
                                                <div id="img-slot7" class="slot_btn df-ico player_plus"></div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="player-slots slot_pn_d" id="player-slot7">DF</div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="salary-slots slot_ps" id="player-salary-slot7">$0</div>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="position_box">
                                <div class="position_box__gk">
                                    <a data-role="button" data-rel="8" data-slot="slot8" data-click="app.Entry.setPlayerEntry">
                                        <div class="player_box">
                                            <div class="player_box_img gk-bg">
                                                <div id="img-slot8" class="slot_btn gk-ico player_plus"></div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="player-slots slot_pn_g" id="player-slot8">GK</div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="salary-slots slot_ps" id="player-salary-slot8">$0</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                             </div>
                        </li>
                    </ul>
                </div>
        </div>

        <div class="entry-control-box">
            <div class="control-box">
                <a class="btn-close" data-role="button" data-click="app.Entry.allClear" data-labelnum="64">초기화</a>
            </div>
            <div class="control-box">
                <a id="entryRegBtn" class="btn-confirm disabled" data-role="button" data-rel="disabled" data-click="app.Entry.regEntry" data-labelnum="23">엔트리 등록 완료</a>
            </div>
        </div>
    </div>
</div>


<div data-role="modalview" id="moadl_shop" data-modal="false">
    <div class="contents-view pad">
        <h3>Shop</h3>
        <ul class="inboxList">
            <li>
                <div class="inboxList-face">
                    <img src="./assets/resource/shop/ic_cash_001.png" />
                    <div class="inboxList-group boxs">
                        <div class="inboxList-title">725,000 캐시</div>
                        <div class="inboxList-summ"><span>5,500원</span></div>
                    </div>
                    <div class="inboxList-group btns">
                        <a data-role="button" data-pid="com.streetlab.cash5000" data-rel="5000" data-click="app.Shop.buy" class="inboxList-shop-btn km-widget km-button"><span class="km-text">구매</span></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="inboxList-face">
                    <img src="./assets/resource/shop/ic_cash_002.png" />
                    <div class="inboxList-group boxs">
                        <div class="inboxList-title">1,450,000 캐시<span>( 보너스 +72,500 캐시 )</span></div>
                        <div class="inboxList-summ"><span>11,000원</span></div>
                    </div>
                    <div class="inboxList-group btns">
                        <a data-role="button" data-pid="com.streetlab.cash10000" data-rel="10000" data-click="app.Shop.buy" class="inboxList-shop-btn km-widget km-button"><span class="km-text">구매</span></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="inboxList-face">
                    <img src="./assets/resource/shop/ic_cash_003.png" />
                    <div class="inboxList-group boxs">
                        <div class="inboxList-title">2,900,000 캐시<span>( 보너스 +290,000 캐시 )</span></div>
                        <div class="inboxList-summ"><span>22,000원</span></div>
                    </div>
                    <div class="inboxList-group btns">
                        <a data-role="button" data-pid="com.streetlab.cash20000" data-rel="20000" data-click="app.Shop.buy" class="inboxList-shop-btn km-widget km-button"><span class="km-text">구매</span></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="inboxList-face">
                    <img src="./assets/resource/shop/ic_cash_004.png" />
                    <div class="inboxList-group boxs">
                        <div class="inboxList-title">4,350,000 캐시<span>( 보너스 +652,500 캐시 )</span></div>
                        <div class="inboxList-summ"><span>33,000원</span></div>
                    </div>
                    <div class="inboxList-group btns">
                        <a data-role="button" data-pid="com.streetlab.cash30000" data-rel="30000" data-click="app.Shop.buy" class="inboxList-shop-btn km-widget km-button"><span class="km-text">구매</span></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="inboxList-face">
                    <img src="./assets/resource/shop/ic_cash_005.png" />
                    <div class="inboxList-group boxs">
                        <div class="inboxList-title">7,250,000 캐시<span>( 보너스 +1,450,000 캐시 )</span></div>
                        <div class="inboxList-summ"><span>55,000원</span></div>
                    </div>
                    <div class="inboxList-group btns">
                        <a data-role="button" data-pid="com.streetlab.cash50000" data-rel="50000" data-click="app.Shop.buy" class="inboxList-shop-btn km-widget km-button"><span class="km-text">구매</span></a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="entry-control-box">
            <div class="control-box">
                <a class="btn-close" data-role="button" data-click="app.Entry.cloeShopModal">닫기</a>
            </div>
        </div>
    </div>
</div>
