<div
    id="po_entry_update_players"
    data-role="view" 
    data-title="선수 선택하기"
    data-layout="dfs_main"
    data-model="app.Playerz"
    data-init="app.Playerz.init4update"
    data-show="app.Playerz.vwParam4update"
    data-transition="slide">

    <div data-role="header" class="rnkb-wiz">
        <div data-role="navbar">
            <a class="drawer-btn" data-align="left" data-role="backbutton" href="#:back" data-transition="slide:right">
                <img src="./assets/resource/btn_back.png">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span id="play-title" data-role="view-title"></span>
        </div>

        <div class="property-mini-info">
            <div class="property-box-padding">
                <div class="nothing_used">
                    FANTASY FOOTBALL LIVE
                </div>
            </div>
            
            <div class="property-box-padding">
                <div class="property-box bg-ruby">
                    <span class="amount_mini_ruby">0</span>
                    <a data-role="button" data-align="right" data-click="app.ObjControl.launchShop"><img src="./assets/resource/btn_plus.png"></a>
                </div>
            </div>
        </div>

        <div class="salarycap-position">
            
            <div class="salarycap-box">
                <h4 data-labelnum="15">사용가능 샐러리 캡</h4>
                <div id="gae_salarycap_update_p" class="salarycap-gage">
                    <p></p>
                    <div>
                        <p></p>
                    </div>
                </div>
                <div class="salarycap-update-overflow"></div>
            </div>
            
            <div class="salarycap-box-padding">
                <div class="salarycap-box-moz-vw">   
                    <a data-role="button" href="#do-popover-pos2" data-rel="popover"><span id="sort-player-label2" data-labelnum="16">샐러리</span> <span id="sort-player-ico2" class="bg-box ic-triangle-s-on"></span></a>
                </div>
            </div>
        </div>
        
        <div id="do-popover-pos2" data-role="popover" class="popover_div" data-popup='{ "width": "160" }'>
            <div data-role="view" id="popover-play-vw2">
                <ul>
                    <li><a id="orderByPosition2" data-role="button" data-rel="off" data-val="1" data-orderby="desc" data-click="app.Playerz.sortPlayercard2"><label id="orderLabelPosition2" data-align="left" class="sortClass2" data-labelnum="38">포지션</label> <span class="bg-box ic-triangle-s"></span></a></li>
                    <li><a id="orderByPlayer2" data-role="button" data-rel="off" data-val="2" data-orderby="desc" data-align="right" data-click="app.Playerz.sortPlayercard2"><label id="orderLabelPlayer2" class="sortClass2" data-labelnum="8">네임</label> <span class="bg-box ic-triangle-s"></span></a></li>
                    <li><a id="orderByFPPG2" data-role="button" data-rel="off" data-val="3" data-orderby="desc" data-align="right" data-click="app.Playerz.sortPlayercard2"><label id="orderLabelFPPG2" class="sortClass2">FPPG</label> <span class="bg-box ic-triangle-s"></span></a></li>
                    <li><a id="orderBySalary2" data-role="button" data-rel="on" data-val="4" data-orderby="desc" data-align="right" data-click="app.Playerz.sortPlayercard2"><label id="orderLabelSalary2" class="sortClass2 sort-l" data-labelnum="16">샐러리</label> <span class="bg-box ic-triangle-s-on"></span></a></li>
                </ul>
            </div>
        </div>
        
    </div>

    <div id="players-box">
        <ul id="players_list4update" class="player_card_list" data-role="listview"></ul>
        <div id="playercardsMoreBnt2" class="load_more"><a data-role="button" data-click="app.Playerz.loadMoreList2">Load More</a></div>
    </div>
</div>

<div data-role="modalview" id="moadlCardInfo2" class="player_card_box" data-modal="false" style="width:100%;height:100%;padding:20px 15px;">
    <div data-role="header">
        <div data-role="navbar">
            Player Card
            <a data-align="right" data-role="button" data-rel="moadlCardInfo2" data-click="app.Playerz.closeModaler" class="close_modal_win"></a>
            <a data-align="left" data-role="button" data-click="app.Playerz.addPlayercard2" class="add_player"></a>
        </div>
        <div class="card_face">
            <div class="card_face__table">
                <div class="card_face__tablecell card_face__amblem">
                    <div id="mu-cardAmblem" class="card_face__amblem-bg"></div>
                    <span id="mu-player-info-team"></span>
                </div>
                <div class="card_face__tablecell card_face__data">
                    <div id="mu-player-info-name" class="card_face__player"></div>
                    <div class="card_data__table">
                        <div class="card_data__tablecell player_info">
                            <span id="mu-player-info-position" class="player_position"></span> No. <span id="mu-player-info-number"></span>
                        </div>
                        <div class="card_data__tablecell player_fppg">
                            FPPG
                            <div id="mu-player-info-fppg" class="print_no">0</div>
                        </div>
                        <div class="card_data__tablecell player_salary">
                            Salary
                            <div id="mu-player-info-salary" class="print_no">$0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tapstrip-group-c">
            <div id="mu-tabstripGameRecord" class="tabstrip-moz">
                <a data-role="button" data-rel="m-log2" data-click="app.Playerz.tapStriper">Game Log</a>
            </div>
            <div id="mu-tabstripCard" class="tabstrip-moz ts">
                <a data-rel="m-card2" data-role="button" data-click="app.Playerz.tapStriper">Card</a>
            </div>
        </div>

    </div>
    <div class="card_box">
        <div class="card_box__body">
            <div class="card_box__scroller">
                <div id="mu-playerCardRecord" class="hide">
                    <div class="feature_label">Seasonal record</div>
                    <div class="feature_table">
                        <table id="m2_LOG" cellpadding="0" cellspacing="0">
                            <tr>
                                <th>MP</th>
                                <th>MIN</th>
                                <th>G</th>
                                <th>GA</th>
                                <th>SHO</th>
                                <th>SOG</th>
                                <th>PAS%</th>
                            </tr>
                            <tr>
                                <td>00</td>
                                <td>00</td>
                                <td>00</td>
                                <td>00</td>
                                <td>00</td>
                                <td>00</td>
                                <td>00</td>
                            </tr>
                            <tr>
                                <th>TA</th>
                                <th>FC</th>
                                <th>FS</th>
                                <th>YC</th>
                                <th>RC</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>00</td>
                                <td>00</td>
                                <td>00</td>
                                <td>00</td>
                                <td>00</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="feature_label">2014~2015 <span>Recent 5 match</span></div>
                    <div class="feature_table">
                        <table id="m2_RECENT" cellpadding="0" cellspacing="0">
                            <tr>
                                <td colspan="11" class="likeH4 hide">11.22 VS Man Utd</td>
                            </tr>
                            <tr>
                                <th>G</th>
                                <th>GA</th>
                                <th>SHO</th>
                                <th>SOG</th>
                                <th>CR</th>
                                <th>SAV</th>
                                <th>SAVCK</th>
                                <th>FC</th>
                                <th>FS</th>
                                <th>YC</th>
                                <th>RC</th>
                            </tr>
                            <tr>
                                <td>00</td>
                                <td>00</td>
                                <td>00</td>
                                <td>00</td>
                                <td>00</td>
                                <td>00</td>
                                <td>00</td>
                                <td>00</td>
                                <td>00</td>
                                <td>00</td>
                                <td>00</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div id="mu-playerCardFeature">
                    <div class="feature_label">Level</div>
                    <div class="level_box">
                        <div class="display_table">
                            <div class="display_tablecell level_effect">
                                <div id="mu-playercard-star" class="star_lv">
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                </div>
                                <div class="effect_lv">
                                    Discount Rate <span id="mu-playercard-effect">0%</span>
                                </div>
                            </div>
                            <div class="display_tablecell discount_effect">
                                <span id="mu-playercard-old" class="hide">$0</span>
                                <div id="mu-playercard-discount">$0</div>
                            </div>
                        </div>
                    </div>
                    <div class="feature_label">
                        Skillset
                        <div class="skill_count">Max <span>3</span></div>
                    </div>
                    <div class="skill_box">
                        <ul id="mu-playerCardSkills">
                            <li class="hide">
                                <div class="display_table">
                                    <div class="display_tablecell skill_ico"><img src="./assets/resource/card/skill_goal.png" /></div>
                                    <div class="display_tablecell skill_mark">
                                        <span class="mark_title">Goal</span> Lv.<span class="mark_no">1</span><br />
                                        Add point <span class="mark_no">1</span>
                                    </div>
                                    <div class="display_tablecell skill_btn">
                                        <a data-role="button" data-click="app.Card.tapper"></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div id="mu-playercardAddSkill" class="skill_add_btn"><a data-role="button" data-click="app.Card.addSkill">Add Skill +</a></div>
                    </div>
                    
                </div>
                
                
                
            </div>
        </div>
    </div>
    <div data-role="footer">
    </div>

</div>


<script id="playerListTemplate2" type="text/x-kendo-template">
    #
        //salaryLimit
        tmpSalary = (parseInt(slotSalary) === 0) ? salaryLimit : parseInt(salaryLimit + slotSalary);
        if(tmpSalary >= salary) { 
            salaryColor = "";
        } else {
            salaryColor = "warning";
        }
    
        if(playerSelected === 2) {
            entryStatus = "on";
            entryImg = "club/btn_minus_04.png";
            controlClass = "removePlayer";
            entryBtn = "app.Playerz.overPlayer";
        } else {
            entryStatus = "";
            if(playerSlot[tmpReqSlot] !== undefined && playerSlot[tmpReqSlot] !== "") {
                entryImg = "common/btn_change.png";
            } else {
                entryImg = "card/btn_plus.png";
            }
            controlClass = "addPlayer";
            entryBtn = "app.Playerz.addPlayer4Up";
        }
        
        positionTag = posCode.slice(0,1);
    
        emblem = 'amblem__' + team;
    
    
        stars = "";
        /*
        for(var i = 1;i<=cardClass;i++) {
            stars += '<span>*</span>';
        }
        */
        
        //lv_bg = 'bordercolor_by_rating__' + cardLevel;
        lv_bg = 'bordercolor_by_rating__0';
    
        /*dc_salary = 0;
        if(dcRatio) {
            dc_salary = salary * (1.0 - parseFloat(dcRatio));
        } else {
            dc_salary = salary;
        }
        */
    
    #
    <div class="triangle_top"></div>
    <div class="triangle_bottom"></div>
    <div class="player_card_list__box">
        <div class="player_card_list__box-retlative">
            <div class="listitem_position"><div>#=positionTag#</div></div>
            <div class="listitem_rating"><div>+0</div></div>
            <div class="listitem_amblem"><div class="amblem__pos #=emblem#"></div></div>
            <div class="player_card_list__box-info3">
    
                <div class="player_card_list__table">
                    <div class="player_card_list__td-info">
                        <a data-role="button" data-rel="#:playerID#" data-val="" data-click="app.Playerz.playerAddInfo2">
                            <div class="player_card__def">
                                <div class="listitem_name">#:playerName#</div>
                                <div class="listitem_star card_lev">#=stars#</div>
                            </div>
                            <div class="player_card__sub">
                                <div class="player_card__sub-color"><span>#:teamName#</span><br /><span>No.#:number#</span></div>
                                <div class="player_card__sub-color list_fppg">FPPG<br /><span>#:fppg#</span></div>
                                <div class="player_card__sub-color list_salary">Salary<br /><span class="#:salaryColor#">$#:kendo.toString(salary,"n0")#</span></div>
                            </div>
                        </a>
                    </div>
                    <div class="player_card_list__td-addbtn">
                        <a data-role="button" data-salary="#:salary#" data-tmp="#:slotSalary#" data-tmp2="#:salaryLimit#" data-rel="#:playerID#" data-status="#:entryStatus#" class="#:controlClass#" data-click="#:entryBtn#"><img id="entry-#:playerID#" src="./assets/resource/#:entryImg#"></a>
                    </div>
                </div> 
            </div>            
        </div>
    </div>
</script>
