<div
    id="po_entry_update"
    data-role="view" 
    data-title="엔트리 수정"
    data-layout="dfs_main"
    data-model="app.Entry"
    data-init="app.Entry.init"
    data-show="app.Entry.onShowUp"
    data-transition="slide">

    <div data-role="header" data-reload="true" class="rnkb-wiz">
        <div data-role="navbar">
            <a class="drawer-btn" data-align="left" data-role="button" data-rel="live" data-click="app.Entry.returnContestPlay">
                <img src="./assets/resource/btn_back.png">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span id="play-title" data-role="view-title"></span>
        </div>

        <div class="property-mini-info">
            <div class="property-box-padding">
                <div class="nothing_used">
                    FANTASY FOOTBALL LIVE
                </div>
            </div>
            
            <div class="property-box-padding">
                <div class="property-box bg-ruby">
                    <span class="amount_mini_ruby">0</span>
                    <a data-role="button" data-align="right" data-click="app.ObjControl.launchShop"><img src="./assets/resource/btn_plus.png"></a>
                </div>
            </div>
        </div>

        <div class="salarycap-position linear_bg">
            <div class="salarycap-box">
                <h4 data-labelnum="15">사용가능 샐러리 캡</h4>
                <div id="gae_salarycap_update" class="salarycap-gage">
                    <p></p>
                    <div>
                        <p></p>
                    </div>
                </div>
                <div class="salarycap-update-overflow hide"></div>
            </div>
        </div>
    </div>

    <div class="entry_outline">
 
        <div id="entry-box" class="entry-box-all">
                <div class="position-layout">
                    <ul class="position-type">
                        <li>
                            <div class="position_box">
                                <div class="position_box__fw">
                                    
                                    <a data-role="button" data-rel="1" data-slot="slot1" data-click="app.Entry.setPlayerEntry4up">
                                        <div class="player_box">
                                            <div class="player_box_img fw-bg">
                                                <div id="update-img-slot1" class="ed_slot_btn fw-ico player_change"></div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="player-slots ed_slot_pn_f" id="update-player-slot1">FW</div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="salary-slots ed_slot_ps" id="update-player-salary-slot1">$0</div>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                                <div class="position_box__fw">
                                    
                                    <a data-role="button" data-rel="1" data-slot="slot2" data-click="app.Entry.setPlayerEntry4up">
                                        <div class="player_box">
                                            <div class="player_box_img fw-bg">
                                                <div id="update-img-slot2" class="ed_slot_btn fw-ico player_change"></div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="player-slots ed_slot_pn_f" id="update-player-slot2">FW</div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="salary-slots ed_slot_ps" id="update-player-salary-slot2">$0</div>
                                            </div>
                                        </div>
                                    </a>
                                    
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="position_box">
                                <div class="position_box__mf">
                                    <a data-role="button" data-rel="2" data-slot="slot3" data-click="app.Entry.setPlayerEntry4up">
                                        <div class="player_box">
                                            <div class="player_box_img mf-bg">
                                                <div id="update-img-slot3" class="ed_slot_btn mf-ico player_change"></div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="player-slots ed_slot_pn_m" id="update-player-slot3">MF</div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="salary-slots ed_slot_ps" id="update-player-salary-slot3">$0</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="position_box__mf">
                                    <a data-role="button" data-rel="15" data-slot="slot4" data-click="app.Entry.setPlayerEntry4up">
                                        <div class="player_box">
                                            <div class="player_box_img mflex-bg">
                                                <div id="update-img-slot4" class="ed_slot_btn mf-ico player_change"></div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="player-slots ed_slot_pn_m" id="update-player-slot4">MF</div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="salary-slots ed_slot_ps" id="update-player-salary-slot4">$0</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="position_box__mf">
                                    <a data-role="button" data-rel="2" data-slot="slot5" data-click="app.Entry.setPlayerEntry4up">
                                        <div class="player_box">
                                            <div class="player_box_img mf-bg">
                                                <div id="update-img-slot5" class="ed_slot_btn mf-ico player_change"></div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="player-slots ed_slot_pn_m" id="update-player-slot5">MF</div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="salary-slots ed_slot_ps" id="update-player-salary-slot5">$0</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="position_box">
                                <div class="position_box__df">
                                    
                                    <a data-role="button" data-rel="4" data-slot="slot6" data-click="app.Entry.setPlayerEntry4up">
                                        <div class="player_box">
                                            <div class="player_box_img df-bg">
                                                <div id="update-img-slot6" class="ed_slot_btn df-ico player_change"></div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="player-slots ed_slot_pn_d" id="update-player-slot6">DF</div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="salary-slots ed_slot_ps" id="update-player-salary-slot6">$0</div>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                                <div class="position_box__df">
                                    
                                    <a data-role="button" data-rel="4" data-slot="slot7" data-click="app.Entry.setPlayerEntry4up">
                                        <div class="player_box">
                                            <div class="player_box_img df-bg">
                                                <div id="update-img-slot7" class="ed_slot_btn df-ico player_change"></div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="player-slots ed_slot_pn_d" id="update-player-slot7">DF</div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="salary-slots ed_slot_ps" id="update-player-salary-slot7">$0</div>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="position_box">
                                <div class="position_box__gk">
                                    <a data-role="button" data-rel="8" data-slot="slot8" data-click="app.Entry.setPlayerEntry4up">
                                        <div class="player_box">
                                            <div class="player_box_img gk-bg">
                                                <div id="update-img-slot8" class="ed_slot_btn gk-ico player_change"></div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="player-slots ed_slot_pn_g" id="update-player-slot8">GK</div>
                                            </div>
                                            <div class="player_box_str">
                                                <div class="salary-slots ed_slot_ps" id="update-player-salary-slot8">$0</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                             </div>
                        </li>
                    </ul>
                </div>
        </div>

        <div class="entry-control-box">
            <div class="control-box">
                <a class="btn-close" data-role="button" data-click="app.Entry.allClearUpdate" data-labelnum="64">초기화</a>
            </div>
            <div class="control-box">
                <a id="entryUpdate" class="btn-confirm disabled" data-role="button" data-rel="disabled" data-click="app.Entry.updateEntry" data-labelnum="65">엔트리 수정 완료</a>
            </div>
        </div>
    </div>
</div>
