<div
    id="po_entry_players_detail"
    data-role="view" 
    data-title="선수 상세보기"
    data-layout="main"
    data-model="app.Playerz"
    data-show="app.Playerz.detailViewUp"
    data-transition="slide">

    <div data-role="header" class="rnkb-wiz">
        <div data-role="navbar">
            <a class="drawer-btn" data-align="left" data-role="backbutton" href="#po_entry_update_players" data-transition="slide:right">
                <img src="./assets/resource/btn_back.png">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span id="play-title" data-role="view-title"></span>
        </div>

        <div class="property-mini-info">
            <div class="property-box-padding">
                <div id="my-ruby" class="property-box bg-ruby">
                    <span id="amount-ruby" class="amount_mini_ruby">0</span>
                    <span class="proper-add-btn"> <img src="./assets/resource/btn_plus.png"> </span>
                </div>
            </div>
        </div>
    </div>

    <div class="player-box">
        <div class="player-box-info">
            <div class="player-info">
                <div class="player-str">
                    <ul>
                        <li id="player-upinfo-number" class="pb">FW 10</li>
                        <li id="player-upinfo-name" class="pn">Wayne Rooney</li>
                        <li id="player-upinfo-team" class="pt">Man Utd</li>
                        <li id="player-upinfo-point" class="pa">$rr 19.66 <span>fppg</span></li>
                    </ul>
                </div>
                <div class="player-btn">
                    <a data-role="button" data-click="app.Playerz.addPlayerStaticUp">
                        <img src="./assets/resource/btn_player_plus.png">
                    </a>
                </div>
            </div>
            <img src="./assets/resource/entry/bg_player.png" width="100%">
        </div>
        
        <div class="player-control">
            <div class="control-box">
                <a class="btn-player-record" data-role="button" data-click="app.Playerz.record">최근 경기 성적</a>
            </div>
            <div class="control-box">
                <a class="btn-player-news" data-role="button" data-click="app.Playerz.news">최신 뉴스</a>
            </div>
        </div>
        
        <div class="player-table">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <th>골</th>
                    <th>어시</th>
                    <th>슛</th>
                    <th>유효슈팅</th>
                </tr>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th>센터링</th>
                    <th>파울</th>
                    <th>경고</th>
                    <th>퇴장</th>
                </tr>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th>승리</th>
                    <th>실점</th>
                    <th>득점</th>
                    <th>PK선방</th>
                </tr>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </table>
        </div>
        
    </div>


    
</div>