<div
    id="gnb_inven"
    data-role="view" 
    data-title="INVENTORY" 
    data-layout="main"
    data-transition="slide"
    data-model="app.Hambugerz"
    data-init="app.Hambugerz.gnbDefInit">
    
    <div data-role="header" class="rnkb-wiz">
        <div data-role="navbar">
            <a data-role="button" class="drawer-btn" data-align="left" href="#mv_profile" data-transition="slide:right">
                <img src="./assets/resource/btn_home.png">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span data-role="view-title"></span>
        </div>
        
        <div class="property-mini-info">
            <div class="property-box-padding">
                <div class="nothing_used">
                    FANTASY FOOTBALL LIVE
                </div>
            </div>
            
            <div class="property-box-padding">
                <div class="property-box bg-ruby">
                    <span class="amount_mini_ruby">0</span>
                    <a data-role="button" data-align="right" data-click="app.ObjControl.launchShop"><img src="./assets/resource/btn_plus.png"></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="gnb_contents">
        <ul id="gnbInven" class="inboxList">

        </ul>
    
    </div>
</div>


<script id="gnbInvenTemplate" type="text/x-kendo-template">
    #
        //img_src = init_data.path + imagePath + imageName;
    #
    <div class="inboxList-face2">
        <div class="inboxList-group wimg"></div>
        <div class="inboxList-group">
            <a data-role="button" data-rel="" data-mol="moadl_mail">
                <div class="inboxList-title"></div>
                <div class="inboxList-summ">
                    <span></span> <span></span>
                </div>
            </a>
        </div>
        <!--
        <div class="inboxList-group wbtn">
            <a data-role="button" data-rel="#:mailSeq#" data-fk="#:itemFK#" data-click="app.Hambugerz.mailRecevice">
                <div class="attach_down">Receive</div>
            </a>
        </div>
        //-->
    </div>
</script>


<div data-role="modalview" id="moadl_inven" data-modal="false" class="gnb_modaless" style="width:100%;height:100%;margin-left:1px;padding:0;border:0;">
    <div data-role="header">
        <div data-role="navbar">
            INVENTORY
            <a data-align="right" data-role="button" data-rel="moadl_inven" data-click="app.Hambugerz.modalClose" class="close_modal_win"></a>
        </div>
    </div>
    <div class="guide_box">
        <div class="guide_box__body">
            <div class="guide_box__scroller">
    
            </div>
        </div>
    </div>
    <div data-role="footer"></div>
</div>