<div
    id="gnb_mail"
    data-role="view" 
    data-title="Mailbox" 
    data-layout="main"
    data-transition="slide"
    data-model="app.Hambugerz"
    data-init="app.Hambugerz.gnbMailbox">
    
    <div data-role="header" class="rnkb-wiz">
        <div data-role="navbar">
            <a data-role="button" class="drawer-btn" data-align="left" href="#mv_profile" data-transition="slide:right">
                <img src="./assets/resource/btn_back.png" class="km-image">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span data-role="view-title"></span>
        </div>
        
        <div class="property-mini-info">
            <div class="property-box-padding">
                <div class="nothing_used">
                    FANTASY FOOTBALL LIVE
                </div>
            </div>
            
            <div class="property-box-padding">
                <div class="property-box bg-ruby">
                    <span class="amount_mini_ruby">0</span>
                    <a data-role="button" data-align="right" data-click="app.ObjControl.launchShop"><img src="./assets/resource/btn_plus.png"></a>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="gnb_contents footer_remain">
        <ul id="gnbMail" class="inboxList" data-role="listview"></ul>
    </div>

    <div data-role="footer" class="gnb_footer">
        <a data-role="button" data-rel="1001" data-mol="moadl_mail" data-click="app.Hambugerz.mailReceviceAll">
            <div class="static_menus__boxs">Receive All</div>
        </a>
    </div>
    
</div>

<div data-role="modalview" id="moadl_mail" data-modal="false" class="gnb_modaless" style="width:100%;height:100%;margin-left:1px;padding:0;border:0;">
    <div data-role="header">
        <div data-role="navbar">
            Mailbox
            <a data-align="right" data-role="button" data-rel="moadl_mail" data-click="app.Hambugerz.modalClose" class="close_modal_win"></a>
        </div>
    </div>
    <div class="guide_box">
        <div class="guide_box__body">
            <div class="guide_box__scroller">
    
            </div>
        </div>
    </div>
    <div data-role="footer"></div>
</div>



<script id="gnbMailListTemplate" type="text/x-kendo-template">
    #
        img_src = init_data.path + imagePath + imageName;
    #
    <div class="inboxList-face2">
        <div class="inboxList-group wimg"><img src="#=img_src#" /></div>
        <div class="inboxList-group">
            <a data-role="button" data-rel="#:mailSeq#" data-mol="moadl_mail">
                <div class="inboxList-title">#:mail_title#</div>
                <div class="inboxList-summ">
                    <span>#:mail_desc#</span> <span></span>
                </div>
            </a>
        </div>
        <div class="inboxList-group wbtn">
            <a data-role="button" data-rel="#:mailSeq#" data-fk="#:itemFK#" data-click="app.Hambugerz.mailRecevice">
                <div class="attach_down">Receive</div>
            </a>
        </div>
    </div>
</script>