<div
    id="gnb_notice"
    data-role="view" 
    data-title="공지사항 및 이벤트" 
    data-layout="main"
    data-transition="slide">
    
    <div data-role="header" class="rnkb-wiz">
        <div data-role="navbar">
            <a data-role="button" class="drawer-btn" data-align="left" href="#landing-menu" data-transition="slide:right">
                <img src="./assets/resource/btn_home.png">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span data-role="view-title"></span>
        </div>
        
        <div class="property-mini-info">
            <div class="property-box-padding">
                <div id="my-ruby" class="property-box bg-ruby">
                    <span id="amount-ruby" class="amount_mini_ruby">0</span>
                    <span class="proper-add-btn">
                        <img src="./assets/resource/btn_plus.png">
                    </span>    
                </div>
            </div>
        </div>
    </div>
    
    <div class="contents-view">
        <ul id="gnbNotice" class="inboxList">

        </ul>
    
    </div>
</div>