<div
    id="gnb_setting"
    data-role="view" 
    data-title="설정" 
    data-layout="main"
    data-model="app.Hambugerz"
    data-init="app.Hambugerz.initGNB">
    
    <div data-role="header" class="rnkb-wiz">
        <div data-role="navbar">
            <a class="drawer-btn" data-align="left" data-role="backbutton" data-transition="slide:right">
                <img src="./assets/resource/btn_back.png">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span data-role="view-title"></span>
        </div>
        
        <div class="property-mini-info">
            <div class="property-box-padding">
                <div class="property-box bg-ruby">
                    <span class="amount_mini_ruby">0</span>
                    <span class="proper-add-btn">
                        <a data-role="button" data-click="app.ObjControl.launchShop"><img src="./assets/resource/btn_plus.png"></a>
                    </span>    
                </div>
            </div>
        </div>
    </div>
    
    <div class="gnb-view">
        
        <div class="gnb-out">
            <div class="gnb-inner">
                <h4>설정</h4>
                <dl>
                    <dt>진동</dt>
                    <dd><input id="gnb_setting_vibrator" type="checkbox" data-role="switch" data-checked="true" /></dd>
                </dl>
                <dl>
                    <dt>시청방식</dt>
                    <dd>
                        <label>TV</label><input type="radio">
                        <label>인터넷</label><input type="radio">
                    </dd>
                </dl>
                <dl>
                    <dt>배경 / 효과음</dt>
                    <dd><input id="gnb_setting_sound" type="checkbox" data-role="switch" data-checked="true" /></dd>
                </dl>
                <dl>
                    <dt>알림 받기</dt>
                    <dd><input id="gnb_setting_subscription" type="checkbox" data-role="switch" data-checked="true" /></dd>
                </dl>
            </div>
            <div class="gnb-inner">
                <h4>닉네임 변경</h4>
                <dl>
                    <dt><span id="setting_nick">스트리트랩</span></dt>
                    <dd>
                        <a data-role="button" data-click="app.Contests.observeMatch" class="btnNickChange">변경</a>
                    </dd>
                </dl>
            </div>
            <div class="gnb-inner">
                <h4>계정</h4>
                <dl>
                    <dt>회원탈퇴</dt>
                    <dd>
                        <a data-role="button" data-click="app.Contests.observeMatch" class="btnNickChange">탈퇴</a>
                    </dd>
                </dl>
             </div>
        </div>

    </div>
</div>


<div data-role="modalview" id="moadl_setting_nick" data-modal="false">
</div>