<div 
    id="landing-menu" 
    data-role="view"
    data-model="app.ObjControl"
    data-init="app.ObjControl.init"
    data-layout="main" 
    data-stretch="true">

    <div class="box-menu-wrap">
        <div class="box-menu-grider">
            <a data-role="button" data-click="app.ObjControl.launchPlay">
                <div id="m_play" rel="play" class="box-tl animated bounceInLeft" data-position="top-left">

                        <div class="box-face wrap-silver silver box-def touch-filter" data-rel="1st">
                            <div id="masker_1" class="masker animated infinite fadeOutRightBig"></div>
                            <div class="box-label-pictos">
                                <img src="./assets/resource/ic_play.png">    
                            </div>
                            <div class="box-label">
                                2015-16<br />
                                EPL<br>Daily Fantasy<br />
                                <em>데일리판타지</em>
                            </div>
                        </div>

                </div>
            </a>
        </div>

        <div class="box-menu-grider">
            <div class="box-menu-br">
                <a data-role="button" data-click="app.ObjControl.launchRanking">
                    <div id="m_ranking" rel="ranking" class="box-str animated bounceInRight" data-position="top-right">
                        <div class="box-face-sm wrap-silver silver touch-filter" data-rel="2nd">
                            <div id="masker_2" class="masker animated infinite fadeOutRightBig"></div>
                            <div class="box-label-picto-smz">
                                <img src="./assets/resource/ic_ranking.png">
                            </div>
                            <div class="box-label-sm">
                                RANKING<br />
                                <em>순위</em>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="box-menu-br">
                <a data-role="button" data-click="app.ObjControl.launchRecord">
                    <div id="m_record" rel="record" class="box-str2 animated bounceInRight" data-position="right">
                        <div class="box-face-sm wrap-silver silver touch-filter" data-rel="2nd">
                            <div id="masker_3" class="masker animated infinite fadeOutRightBig"></div>
                            <div class="box-label-picto-smz">
                                <img src="./assets/resource/ic_record.png">
                            </div>
                            <div class="box-label-sm">
                                RECORD<br />
                                <em>참여기록</em>
                            </div>
                        </div>
                    </div>
                </a>
            </div>            
        </div>

        <div class="box-menu-grider-quard">
            <a data-role="button" data-click="app.ObjControl.launchRT">
                <div id="m_rt" rel="rt" class="box-str3 animated bounceInUp" data-position="center-bottom">

                        <div class="box-face wrap-silver silver touch-filter" data-rel="3rd">
                                <div id="masker_4" class="masker animated infinite fadeOutRightBig"></div>
                                <div class="box-label-picto-lm">
                                    <div class="box-padding">
                                        <img src="./assets/resource/ic_real.png">
                                    </div>
                                    
                                </div>
                                <div class="box-label-lm">
                                    <div class="box-padding2">
                                        REAL TIME<br />
                                        Challenge<br />
                                        <em>실시간 참여 모드</em>
                                    </div>
                                </div>

                        </div>

                </div>
            </a>
        </div>

        <div class="box-menu-grider-quard">
            <div class="box-menu-td">
                <a data-role="button" data-click="app.ObjControl.launchShop">
                    <div id="m_shop" rel="shop" class="box-str4 animated bounceInUp" data-position="bottom-left">
                        <div class="box-face-sm wrap-silver silver touch-filter" data-rel="2nd">
                            <div id="masker_5" class="masker animated infinite fadeOutRightBig"></div>
                            <div class="box-label-picto-smz">
                                <img src="./assets/resource/ic_shop.png">
                            </div>
                            <div class="box-label-sm">
                                SHOP<br />
                                <em>상점</em>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="box-menu-td">
                <a data-role="button" data-click="app.ObjControl.launchProfile">
                    <div id="m_profile" rel="profile" class="box-str5 animated bounceInUp" data-position="bottom-right">
                        <div class="box-face-sm wrap-silver silver touch-filter" data-rel="2nd">
                            <div id="masker_6" class="masker animated infinite fadeOutRightBig"></div>
                            <div class="box-label-picto-smz">
                                <img src="./assets/resource/ic_profile.png">
                            </div>
                            <div class="box-label-sm">
                                PROFILE<br />
                                <em>내 정보</em>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>

</div>