<div 
    id="landing-menu" 
    data-role="view"
    data-model="app.ObjControl"
    data-init="app.ObjControl.init"
    data-layout="main" 
    data-stretch="true">

    <div class="box-menu-wrap">
        <div class="box-menu-grid">
            <a data-role="button" data-click="app.ObjControl.launchPlay">
                <div id="m_play" rel="play" class="box-menu-tl animBlock notViewed" data-position="top-left">
                    <div class="boxani">
                        <div class="box-face box-def touch-filter" data-rel="1st">
                            <div class="box-label-picto">
                                <img src="./assets/resource/ic_play.png">    
                            </div>
                            <div class="box-label">PLAY</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="box-menu-grid">
            <a data-role="button" data-click="app.ObjControl.launchRanking">
                <div id="m_ranking" rel="ranking" class="box-menu-tr animBlock notViewed" data-position="top-right">
                    <div class="boxani">
                        <div class="box-face box-def touch-filter" data-rel="2nd">
                            <div class="box-label-picto">
                                <img src="./assets/resource/ic_ranking.png">
                            </div>
                            <div class="box-label">RANKING</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="box-menu-grid">
            <a data-role="button" data-click="app.ObjControl.launchRecord">
                <div id="m_record" rel="record" class="box-menu-bl animBlock notViewed" data-position="bottom-left">
                    <div class="boxani">
                        <div class="box-face box-def touch-filter" data-rel="3rd">
                            <div class="box-label-picto">
                                <img src="./assets/resource/ic_record.png">
                            </div>
                            <div class="box-label">RECORD</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="box-menu-grid">
            <div class="box-menu-br">
                <a data-role="button" data-click="app.ObjControl.launchShop">
                    <div id="m_shop" rel="shop" class="box-sm bt animBlock notViewed" data-position="right">
                        <div class="box-face-sm touch-filter" data-rel="4th">
                            <div class="box-label-picto">
                                <img src="./assets/resource/ic_shop.png">
                            </div>
                            <div class="box-label-sm">SHOP</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="box-menu-br">
                <a data-role="button" data-click="app.ObjControl.launchProfile">
                    <div id="m_profile" rel="profile" class="box-sm bb  animBlock notViewed" data-position="bottom-right">
                        <div class="box-face-sm touch-filter" data-rel="5th">
                            <div class="box-label-picto">
                                <img src="./assets/resource/ic_profile.png">
                            </div>
                            <div class="box-label-sm">PROFILE</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>

</div>