<div
    id="mv_play_list"
    data-role="view" 
    data-title="featured"
    data-layout="main"
    data-model="app.Contests"
    data-init="app.Contests.playInit"
    data-show="app.Contests.onShowReset"
    data-transition="slide">
    
    <div data-role="header" class="rnkb-wiz">
        <div data-role="navbar">
            <a class="drawer-btn" data-align="left" data-role="button" href="#mv_play_contest" data-transition="slide:right"><img src="./assets/resource/btn_back.png"></a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span id="play-title" data-role="view-title"></span>
        </div>
            
        <div class="property-mini-info">
            <div class="property-box-padding">
                <div id="my-ruby" class="property-box bg-ruby">
                    <span id="amount-ruby" class="amount_mini_ruby">0</span>
                    <span class="proper-add-btn">
                        <img src="./assets/resource/btn_plus.png">
                    </span>    
                </div>
            </div>
        </div>
        
        <div class="strip-group">
            <div class="strip-box-padding">
                <div class="strip-box-moz">
                    참여할 게임을 선택하세요  
                </div>
            </div>
            <div class="strip-box-padding">
                <div class="strip-box-moz-vw">   
                    <a data-role="button" href="#do-popover" data-rel="popover"><span id="sort-match-label">이름</span> <span id="sort-match-ico" class="bg-box ic-triangle-n-on"></span></a>
                </div>
            </div>
        </div>
        <div id="do-popover" data-role="popover" data-popup='{ "width": "160" }'>
            <div data-role="view" id="popover-match-vw">
                <ul>
                    <li><label class="sort-l">이름</label> <a data-role="button" data-rel="on" data-val="1" data-align="right"><span class="bg-box ic-triangle-n-on"></span></a></li>
                    <li><label>인원</label> <a data-role="button" data-rel="off" data-val="2" data-align="right"><span class="bg-box ic-triangle-n"></span></a></li>
                    <li><label>입장료</label> <a data-role="button" data-rel="off" data-val="3" data-align="right"><span class="bg-box ic-triangle-n"></span></a></li>
                    <li><label>상금</label> <a data-role="button" data-rel="off" data-val="4" data-align="right"><span class="bg-box ic-triangle-n"></span></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="contest-bar">
        <ul id="playListBox" class="inboxListByType" data-role="listView">
        </ul>

    </div>

</div>

<div data-role="modalview" id="join-match" data-modal="false" style="min-width: 300px;">
    <div class="modal-layer">
        <div class="modal-body">
            <h4>[경기 입장 정보]</h4>
            <dl id="modal-info">
                <dt>플레이 방 이름</dt>
                <dd id="mo_title"></dd>
                <dt>경기방식</dt>
                <dd id="mo_title"></dd>
                <dt>참여 인원 및 참여가능 인원</dt>
                <dd>0명 / 0명</dd>
                <dt>입장료</dt>
                <dd></dd>
                <dt>경기보상</dt>
                <dd class="esp"></dd>
                <dt>순위별 보상</dt>
                <dd></dd>
            </dl>
        </div>
        <div class="modal-footer">
            <div class="modalBtnWrp">
                <a class="btn-close" data-role="button" data-click="app.Contests.closeModal">취소</a>
            </div>
            <div class="modalBtnWrp">
                <a class="btn-join" data-role="button" data-click="app.Contests.joinMatchConfirm">확인</a>
            </div>
        </div>
    </div>
</div>

