<div
    id="play_rt"
    data-role="view" 
    data-title="REAL TIME"
    data-layout="main"
    data-init="app.playRTS.init"
    data-show="app.playRTS.sportRada"
    data-transition="slide"
    data-stretch="true">
    
    <div data-role="header" class="rnkb-wiz-rt">
        <div data-role="navbar">
            <a class="drawer-btn rnkb-rt" data-align="left" data-role="button" data-click="app.playRTS.confirmBack">
                <img src="./assets/resource/btn_back.png">
            </a>
            <a data-role="button" class="drawer-btn rnkb-rt" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <div id="rt_header__title" data-role="view-title"></div>
            
            <div id="rt_header__scoreboard" style="display: none;">
                <div class="rt-info__stats">
                    <div class="rt-info__tab rt_emblem">
                        <img class="rt_home_emblem" src="http://scv.rankingball.com/asset/contents/dfs/EPL_10261_NEWCASTLE.png" />
                    </div>
                    <div class="rt-info__tab rt_scoreboard">
                        <div class="rt_score_flex">
                            <div class="rt_score is_home_score">0</div> <div><span class="rt_times">23:45</span></div> <div class="rt_score is_away_score">0</div>
                        </div>
                    </div>
                    <div class="rt-info__tab rt_emblem">
                        <img class="rt_away_emblem" src="http://scv.rankingball.com/asset/contents/dfs/EPL_10252_ASTONVILLA.png" />
                    </div>
                </div>
            </div>
            
        </div>
            
        <div id="rt_slider" class="rt-info">
            <div id="rt_stats" class="rt-info__stats">
                <div class="rt-info__tab rt_emblem">
                    <div><img class="rt_home_emblem" src="http://scv.rankingball.com/asset/contents/dfs/EPL_10261_NEWCASTLE.png" /></div>
                    <span id="rt_home_label">NEW CASTLE</span>
                </div>
                <div class="rt-info__tab rt_scoreboard">
                    <div class="rt_score_flex">
                        <span class="rt_score is_home_score">0</span> <span id="rt_playing_times" class="rt_times">23:45</span> <span class="rt_score is_away_score">0</span>
                    </div>
                </div>
                <div class="rt-info__tab rt_emblem">
                    <div><img class="rt_away_emblem" src="http://scv.rankingball.com/asset/contents/dfs/EPL_10252_ASTONVILLA.png" /></div>
                    <span id="rt_away_label">ASTONVILLA</span>
                </div>
            </div>
        </div>
        
        <div class="rt-navigation">
            <div class="sc_menus">
                <ul class="sc_menu">
                    <li id="swipeBtn0" class="activate wc_btn"><a data-role="button" data-rel="0" data-click="app.playRTS.swipeSlide">중계화면</a></li>
                    <li id="swipeBtn1" class="wc_btn"><a data-role="button" data-rel="1" data-click="app.playRTS.swipeSlide">문자중계</a></li>
                    <li id="swipeBtn2" class="wc_btn"><a data-role="button" data-rel="2" data-click="app.playRTS.swipeSlide">선발선수</a></li>
                    <li id="swipeBtn3" class="wc_btn"><a data-role="button" data-rel="3" data-click="app.playRTS.swipeSlide">경기기록</a></li>
                    <li id="swipeBtn4" class="wc_btn"><a data-role="button" data-rel="4" data-click="app.playRTS.swipeSlide">맞대결</a></li>
                    <li id="swipeBtn5" class="wc_btn"><a data-role="button" data-rel="5" data-click="app.playRTS.swipeSlide">팀순위</a></li>
                </ul>
             </div>
        </div>
        
        
    </div>

    <style class="widgets"></style>
    
    <div class="contents-rt-view">
        
        <div id="liveScoreWidget">
            
            <div id='sliderz' class='swipe'>
                <div class='swipe-wrap'>
                    <div class="wc-widget wc-10"></div>
                    <div class="wc-widget wc-11"></div>
                    <div class="wc-widget wc-12"></div>
                    <div class="wc-widget wc-13"></div>
                    <div class="wc-widget wc-14"></div>
                    <div class="wc-widget wc-15"></div>
                </div>
            </div>
            
        </div>
        
        
        <div id="widgetController">
            
            <div class="rt_message"><span id="txt_message">리얼타임 챌린지에 오신 것을 환영합니다.</span></div>
            
            <div class="rt_controller">
                
                <div class="rt_controller_stage">
                    <div class="rt_controller_life">
                        <div class="star-fill">
                            <div id="stars_ani_1" class="star-tab">
                                <span id="start_pos_1" class="star">●</span>
                            </div>
                            <div id="stars_ani_2" class="star-tab">
                                <span id="start_pos_2" class="star">●</span>
                            </div>
                            <div id="stars_ani_3" class="star-tab">
                                <span id="start_pos_3" class="star">●</span>
                            </div>
                            <div id="lifeCoolTime" class="star-tab__ext">
                                <span id="recoverLife" class="recover_life">00:00</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="rt_progress_bar">
                        <div id="rt_bar" class="rt_pg__bar">
                            <div class="meter">
                                <div id="predictionCount" class="rt_pre_count">0 / 10</div>
                            	<span id="meter_bar"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="rt_combo_show">
                        
                    </div>
                    
                </div>
                
                <div class="rt_timeline">
                    <div class="rt_timeline_pre">
                        <div id="predctionTimeRew" class="rt_timeline_cell">0min</div>
                        <div id="predctionTimeNow" class="rt_timeline_cell rt_timeline_now">1min</div>
                        <div id="predctionTimePre" class="rt_timeline_cell">2min</div>
                    </div>
                </div>
                
                
                <div class="rt_prediction_area">
                                       
                    <div id="predictionArrowBtn" class="rt_prediction_drag_element">
                        <div class="draggable"></div>       
                    </div>
                    <div class="rt_prediction_home rt_prediction_amblem">
                        <div id="predictionHomeAmblem">
                            <img class="rt_home_emblem" src="" />
                        </div>
                        <div id="predictionHomeTimeFlow" class="hide"></div>
                    </div>
                    <div class="rt_prediction_away rt_prediction_amblem">
                        <div id="predictionAwayAmblem">
                            <img class="rt_away_emblem" src="" />
                        </div>
                        <div id="predictionAwayTimeFlow" class="hide"></div>
                    </div>
                    
                    <div class="rt_prediction_arrow_control">
                        <div class="rt_prediction_arrow_home">
                            <div class="rt_arrow_animation_r2l"></div>
                        </div>
                        <div class="rt_prediction_drag_btn"></div>
                        <div class="rt_prediction_arrow_away">
                            <div class="rt_arrow_animation_l2r"></div>
                        </div>                        
                    </div>
                    
                </div>
                
                <div class="rt_progress_base">
                    <div class="rt_progress_btn_bg">
                        
                        <div class="rt_progress_btn_outline">
                            <a data-role="button" data-click="app.playRTS.rosa">
                                <div id="ball_label" class="rt_clc_label"></div>
                                <div id="rt_ball_btn" class="rt_clc_btn readyShoot"></div>
                            </a>
                        </div>                        
                    </div>
                </div>
                
            </div>
            
        </div>
            
    </div>
</div>
