<div
    id="mv_play_result"
    data-role="view" 
    data-title="결과 확인" 
    data-layout="main"
    data-model="app.Contests"
    data-init="app.Contests.langExchange"
    data-show="app.Contests.resultInit"
    data-transition="slide">
    
    <div data-role="header" class="rnkb-wiz">
        <div data-role="navbar">
            <a class="drawer-btn" data-align="left" data-role="backbutton" href="#mv_play_contest" data-transition="slide:right">
                <img src="./assets/resource/btn_back.png">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span data-role="view-title"></span>
        </div>
        
        <div class="property-mini-info">
            <div class="property-box-padding">
                <div class="property-box bg-ruby">
                    <span id="amount-ruby" class="amount_mini_ruby">0</span>
                    <span class="proper-add-btn">
                        <a data-role="button" data-click="app.ObjControl.launchShop"><img src="./assets/resource/btn_plus.png"></a>
                    </span>    
                </div>
            </div>
        </div>
        
        <div class="tapstrip-group">
            <div id="tabstrip_upcoming_result" class="tabstrip-moz ts">
                <a class="ts" data-role="button" data-click="app.Contests.playResultTotal" data-labelnum="28">전체 순위</a>
            </div>
            <div id="tabstrip_live_result" class="tabstrip-moz">
                <a data-role="button" data-click="app.Contests.playResultTeam" data-labelnum="36">팀 성적</a>
            </div>
        </div>
        
        <div id="result_role_rank" class="tap_result_box">
            <div class="tab_result_reward">
                <div class="control-box" data-labelnum="35">
                    최종순위 및 보상
                </div>
                <div class="control-box">
                    <a class="btn-do-reward" data-role="button" data-click="app.Contests.doContestReward" data-labelnum="62">보상 받기</a>
                </div>
            </div>
            
            <div class="tab_result_rank">
                <div class="result_rank_line">
                    <div class="control-box">
                        <span data-labelnum="8">이름</span>
                        <div id="contestResult__user"></div>
                    </div>
                    <div class="control-box">
                        <span data-labelnum="20">순위</span>
                        <div id="contestResult__rank"></div>
                    </div>
                    <div class="control-box">
                        <span data-labelnum="63">보상</span>
                        <div id="contestResult__reward"></div>
                    </div>
                </div>
            </div>
            
            <div class="tab_result_label">
                <ul>
                    <li class="clearfix header">
                        <div class="listitem_rank">순위</div>
                        <div class="listitem_name">네임</div>
                        <div class="listitem_point">랭킹 포인트</div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div id="result_role_record" class="tap_result_box hide">
            <div class="result-box-padding hide">
                <div class="result-box-moz-vw">   
                    <a data-role="button" href="#do-popover-rnk" data-rel="popover"><span id="sort-rnk-label" data-labelnum="20">포지션</span> <span id="sort-rnk-ico" class="bg-box ic-triangle-n-on"></span></a>
                </div>
            </div>
           <div class="tab_result_label">
                <ul>
                    <li class="clearfix header">
                        <div class="listitem_position" data-labelnum="20">포지션</div>
                        <div class="listitem_name" data-labelnum="8">네임</div>
                        <div class="listitem_point" data-labelnum="10">총점</div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="do-popover-rnk" class="popover_div" data-role="popover" data-popup='{ "width": "160" }'>
            <div data-role="view" id="popover-rnk-vw">
                <ul>
                    <li><label class="sort-l" data-labelnum="20">포지션</label> <a data-role="button" data-rel="on" data-val="1" data-align="right"><span class="bg-box ic-triangle-n-on"></span></a></li>
                    <li><label data-labelnum="8">네임</label> <a data-role="button" data-rel="off" data-val="2" data-align="right"><span class="bg-box ic-triangle-n"></span></a></li>
                    <li><label>FPPG</label> <a data-role="button" data-rel="off" data-val="3" data-align="right"><span class="bg-box ic-triangle-n"></span></a></li>
                    <li><label data-labelnum="16">샐러리</label> <a data-role="button" data-rel="off" data-val="4" data-align="right"><span class="bg-box ic-triangle-n"></span></a></li>
                </ul>
            </div>
        </div>
        
    </div>
    
    <div id="contest-bar__result">
            <div id="tab_upcomming_result" class="tabDiv">
                <ul id="play_result_list" class="tab_result_label resultRankList" data-role="listview"></ul>
            </div>
            <div id="tab_result_team_score" class="tabDiv">
                <ul id="play_result_teams_core" class="tab_result_label resultRankList" data-role="listview"></ul>
            </div>
    </div>
</div>