<div
    id="play_rt_result"
    data-role="view" 
    data-title="REAL TIME"
    data-layout="main"
    data-init="app.playRTS.init_result"
    data-transition="slide"
    data-stretch="true">
    
    <div data-role="header" class="rnkb-wiz">
        <div data-role="navbar">
            <a class="drawer-btn" data-align="left" data-role="backbutton" href="#play_rtList" data-transition="slide:right">
                <img src="./assets/resource/btn_back.png">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span data-role="view-title"></span>
        </div>
            
        <div class="property-info">
            <div class="property-box-padding">
                <div id="my-rtpoint" class="property-box bg-point">
                    <span class="amount_mini_point">123,456,789</span>
                </div>
            </div>
            <div class="property-box-padding">
                <div id="my-ruby" class="property-box bg-ruby">
                    <span class="amount_mini_ruby">123,456,789</span>
                    <span class="proper-add-btn">
                        <img src="assets/resource/btn_plus.png">
                    </span>    
                </div>
            </div>
        </div>
    </div>

    <div class="contents-rt-view">
        
        <div id="rtResult" class="contest-rt-result">
            
            <div class="rt_14_label_bar">플레이 결과 확인</div>
            <div class="rt_14_result_table">
                
                <div class="rt_14_result_summary">
                    <div class="rt_14_result_dls">
                        <dl>
                            <dt>총시도 횟수</dt>
                            <dd>10회</dd>
                        </dl>
                    </div>
                    <div class="rt_14_result_dls">
                        <dl>
                            <dt>성공 횟수</dt>
                            <dd>1회</dd>   
                        </dl>
                    </div>
                    <div class="rt_14_result_dls">
                        <dl>
                            <dt>성공 확률</dt>
                            <dd>10%</dd>   
                        </dl>
                    </div>
                </div>
            </div>
            
            <div class="rt_14_result_timeline">
                <table border="0" cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <th>경기 시간</th>
                        <th>득점 현황</th>
                        <th>예측 결과</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>11:00</td>
                        <td>득점</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>10:59</td>
                        <td></td>
                        <td><span class="rt_prediction_success">성공(10:59)</span></td>
                    </tr>
                    <tr>
                        <td>14:07</td>
                        <td></td>
                        <td><span class="rt_prediction_fail">실패(14:11)</span></td>
                    </tr>
                    <tr>
                        <td>18:23</td>
                        <td></td>
                        <td><span class="rt_prediction_fail">실패(18:20)</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            
            
        </div>
        
        
        <div id="widgetController" class="">
            
            <div id="point_area" class="">
                <div class="star-fill">
                    <div class="star-tab">
                        <span class="star full">☆</span>
                    </div>
                    <div class="star-tab">
                        <span class="star full">☆</span>
                    </div>
                    <div class="star-tab">
                        <span class="star full">☆</span>
                    </div>
                    <div class="star-tab full">
                        <span class="star">☆</span>
                    </div>
                    <div class="star-tab full">
                        <span class="star">☆</span>
                    </div>
                </div>
            </div>
            
            <div id="controller_area" class="">

                <div id="progress-box" class="">
                    
                        <div class="clc_box">
                            <div class="clc_result"></div>
                        </div>
                        
                        <div id="progress_bar" class=""></div>
                </div>
                
                <div id="position-box">

                </div>
                
                <div id="controller-box">
                    <dl class="controller-box-menu">
                        <dt>
                            <a data-role="button" data-click="app.playRTS.rosa">
                                <div class="wc_btn">
                                    중계화면
                                </div>
                            </a>
                        </dt>
                        <dd>
                            <a data-role="button" data-click="app.playRTS.rosa">
                                <div class="wc_btn">
                                    문자중계
                                </div>
                            </a>
                        </dd>
                    </dl>
                    <dl class="controller-box-menu">
                        <dt>
                            <a data-role="button" data-click="app.playRTS.rosa">
                                <div class="wc_btn">
                                    선발선수
                                </div>
                            </a>
                        </dt>
                        <dd>
                            <a data-role="button" data-click="app.playRTS.rosa">
                                <div class="wc_btn">
                                    경기기록
                                </div>
                            </a>
                        </dd>
                    </dl>
                    <dl class="controller-box-menu">
                        <dt>
                            <a data-role="button" data-click="app.playRTS.rosa">
                                <div class="wc_btn">
                                    맞대결
                                </div>
                            </a>
                        </dt>
                        <dd>
                            <a data-role="button" data-click="app.playRTS.rosa">
                                <div class="wc_btn">
                                    문팀순위
                                </div>
                            </a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
            
        
    </div>
</div>