<div
    id="play_rtList"
    data-role="view" 
    data-title="REAL TIME"
    data-layout="main"
    data-init="app.playRTS.rt_init"
    data-transition="slide">
    
    <div data-role="header" class="rnkb-wiz">
        <div data-role="navbar">
            <a data-role="button" class="drawer-btn" data-align="left" href="#landing-menu" data-transition="slide:right">
                <img src="./assets/resource/btn_home.png">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span data-role="view-title"></span>
        </div>
            
        <div class="property-info">
            <div class="property-box-padding">
                <div id="my-rtpoint" class="property-box bg-point">
                    <span class="amount_mini_point">123,456,789</span>
                </div>
            </div>
            <div class="property-box-padding">
                <div id="my-ruby" class="property-box bg-ruby">
                    <span class="amount_mini_ruby">123,456,789</span>
                    <span class="proper-add-btn">
                        <img src="assets/resource/btn_plus.png">
                    </span>    
                </div>
            </div>
        </div>
    </div>

    <div class="contents-view">
        
        <div class="contest-match-list">
            <div class="contest-match-group">
                
                <ul id="rtListBar" class="contest-inboxList">
                    <li>
                        <a id="accoList_rt" class="btn-match-lead" data-role="button"><span>13라운드 11월 21일</span> <span id="acco_rt1" class="collapse-btn ico-open"></span></a>
                        <div id="rt_list1">
                            <ul id="rt1" class="collapseRTList">
                                <li data-role="button" data-val="999" data-click="app.playRTS.playRTResult">
                                    <div class="rt-games-row">
                                        <div class="rt-games-label rt-list-home font-red">
                                            <span>[HOME]</span>
                                        </div>
                                        <div class="rt-games-label rt-list-info">
                                            <span>11:00</span>
                                        </div>
                                        <div class="rt-games-label rt-list-away font-cyan">
                                            <span>[AWAY]</span>
                                        </div>
                                    </div>
                                    <div class="rt-games-row">
                                        <div class="rt-games-data rt-list-home">
                                            <span>선덜랜드</span>
                                        </div>
                                        <div class="rt-games-data rt-list-info">
                                            <span>1</span> <span class="rt-status-badge rt-off">경기종료</span> <span>0</span>
                                        </div>
                                        <div class="rt-games-data rt-list-away">
                                            <span>맨체스UTD</span>
                                        </div>
                                    </div>
                                </li>
                                <li data-role="button" data-click="app.playRTS.nowPlayRT">
                                    <div class="rt-games-row">
                                        <div class="rt-games-label rt-list-home font-red">
                                            <span>[HOME]</span>
                                        </div>
                                        <div class="rt-games-label rt-list-info">
                                            <span>17:00</span>
                                        </div>
                                        <div class="rt-games-label rt-list-away font-cyan">
                                            <span>[AWAY]</span>
                                        </div>
                                    </div>
                                    <div class="rt-games-row">
                                        <div class="rt-games-data rt-list-home">
                                            <span>선덜랜드</span>
                                        </div>
                                        <div class="rt-games-data rt-list-info">
                                            <span>2</span> <span class="rt-status-badge rt-on">경기중</span> <span>3</span>
                                        </div>
                                        <div class="rt-games-data rt-list-away">
                                            <span>맨체스UTD</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a id="accoList_rt" class="btn-match-lead" data-role="button"><span>13라운드 11월 22일</span> <span id="acco_rt2" class="collapse-btn"></span></a>
                        <div id="rt_list2">
                            <ul id="rt2" class="collapseInboxList"></ul>
                        </div>
                    </li>
                    <li>
                        <a id="accoList_rt" class="btn-match-lead" data-role="button"><span>13라운드 11월 23일</span> <span id="acco_rt3" class="collapse-btn"></span></a>
                        <div id="rt_list3">
                            <ul id="rt3" class="collapseInboxList"></ul>
                        </div>
                    </li>
                    
                </ul>

            </div>
        </div>
        
    </div>
</div>

<div data-role="modalview" id="moadl_loading" data-modal="false">
    <div class="loading_enter">
        <div class="loading_enter_bar"></div>
        <div class="loading_enter_txt">경기에 입장중입니다..</div>
    </div>
</div>
