<div
    id="play_rt"
    data-role="view" 
    data-title="REAL TIME"
    data-layout="main"
    data-init="app.playRTS.init"
    data-show="app.playRTS.sportRada"
    data-transition="slide"
    data-stretch="true">
    
    <div data-role="header" class="rnkb-wiz-rt">
        <div data-role="navbar">
            <a class="drawer-btn rnkb-rt" data-align="left" data-role="button" data-click="app.playRTS.confirmBack">
                <img src="./assets/resource/btn_back.png">
            </a>
            <a data-role="button" class="drawer-btn rnkb-rt" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <div id="rt_header__title" data-role="view-title"></div>
            
            <div id="rt_header__scoreboard" style="display: none;">
                <div class="rt-info__stats">
                    <div class="rt-info__tab rt_emblem">
                        <img src="http://scv.rankingball.com/asset/contents/dfs/EPL_10261_NEWCASTLE.png" />
                    </div>
                    <div class="rt-info__tab rt_scoreboard">
                        <div class="rt_score_flex">
                            <div class="rt_score">0</div> <div><span class="rt_times">23:45</span></div> <div class="rt_score">0</div>
                        </div>
                    </div>
                    <div class="rt-info__tab rt_emblem">
                        <img src="http://scv.rankingball.com/asset/contents/dfs/EPL_10252_ASTONVILLA.png" />
                    </div>
                </div>
            </div>
            
        </div>
            
        <div id="rt_slider" class="rt-info">
            <div id="rt_stats" class="rt-info__stats">
                <div class="rt-info__tab rt_emblem">
                    <div><img src="http://scv.rankingball.com/asset/contents/dfs/EPL_10261_NEWCASTLE.png" /></div>
                    <span>NEW CASTLE</span>
                </div>
                <div class="rt-info__tab rt_scoreboard">
                    <div class="rt_score_flex">
                        <span class="rt_score">0</span> <span class="rt_times">23:45</span> <span class="rt_score">0</span>
                    </div>
                </div>
                <div class="rt-info__tab rt_emblem">
                    <div><img src="http://scv.rankingball.com/asset/contents/dfs/EPL_10252_ASTONVILLA.png" /></div>
                    <span>ASTONVILLA</span>
                </div>
            </div>
        </div>
        
        <div class="rt-navigation">
            <div class="sc_menus">
                <ul class="sc_menu">
                    <li id="swipeBtn0" class="activate wc_btn"><a data-role="button" data-rel="0" data-click="app.playRTS.swipeSlide">중계화면</a></li>
                    <li id="swipeBtn1" class="wc_btn"><a data-role="button" data-rel="1" data-click="app.playRTS.swipeSlide">문자중계</a></li>
                    <li id="swipeBtn2" class="wc_btn"><a data-role="button" data-rel="2" data-click="app.playRTS.swipeSlide">선발선수</a></li>
                    <li id="swipeBtn3" class="wc_btn"><a data-role="button" data-rel="3" data-click="app.playRTS.swipeSlide">경기기록</a></li>
                    <li id="swipeBtn4" class="wc_btn"><a data-role="button" data-rel="4" data-click="app.playRTS.swipeSlide">맞대결</a></li>
                    <li id="swipeBtn5" class="wc_btn"><a data-role="button" data-rel="5" data-click="app.playRTS.swipeSlide">팀순위</a></li>
                </ul>
             </div>
        </div>
        
        
    </div>

    <style class="widgets"></style>
    
    <div class="contents-rt-view">
        
        <div id="liveScoreWidget">
            
            <div id='sliderz' class='swipe'>
                <div class='swipe-wrap'>
                    <div class="wc-widget wc-10"></div>
                    <div class="wc-widget wc-11"></div>
                    <div class="wc-widget wc-12"></div>
                    <div class="wc-widget wc-13"></div>
                    <div class="wc-widget wc-14"></div>
                    <div class="wc-widget wc-15"></div>
                </div>
            </div>
            
        </div>
        
        
        <div id="widgetController">
            <div class="rt_controller">
            
                <div class="rt_controller_life">
                    
                    <div id="stars_ani_1" class="star-tab">
                        <span id="start_pos_1" class="star">●</span>
                    </div>
                    <div id="stars_ani_2" class="star-tab">
                        <span id="start_pos_2" class="star">●</span>
                    </div>
                    <div id="stars_ani_3" class="star-tab">
                        <span id="start_pos_3" class="star">●</span>
                    </div>
                    <div class="star-tab">
                        <span id="rtLife" class="rt_life"></span>
                    </div>
                    <div id="lifeCoolTime" class="star-tab">
                        <span class="clock">●</span>
                        <span id="recoverLife" class="recover_life">03:00</span>
                    </div>
                </div>

                <div class="rt_progress_base">
                    <div class="rt_progress_bar">
                        <div id="rt_message" class="rt_pg__message"></div>
                        <div class="rt_progress_time">
                            <div class="rt_click_time__start">05:00</div>
                            <div class="rt_click_time__chance">05:05</div>
                            <div class="rt_click_time__close">05:15</div>
                        </div>
                        <div id="rt_bar" class="rt_pg__bar">
                            <div class="meter">
                                <div class="meter_marker__ready"></div>
                                <div class="meter_marker__chance"></div>
                            	<span id="meter_bar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="rt_progress_btn_bg">
                        
                        <div class="rt_progress_btn_outline">
                            <a data-role="button" data-click="app.playRTS.rosa">
                                <div id="ball_label" class="rt_clc_label"></div>
                                <div id="rt_ball_btn" class="rt_clc_btn readyShoot"></div>
                            </a>
                        </div>                        
                    </div>
                </div>
                
            </div>
            
        </div>
            
    </div>
</div>

<div data-role="modalview" id="ya" data-modal="false" style="width:100%;height:100%">
    <div id="ya_sparkle" class="ani_body" data-role="touch" data-tap="onTap">
        <div class="fever_box">
            <div class="fever_image animated pulse"><img src="./assets/resource/rt/fever_time.png"></div>
            <p>피버 타임이 발동했어요!<br>피버 타임이 발동하는 사이에 예측을 성공하면 더 높은 점수를 획득할 수 있어요.</p>
        </div>
    </div>
</div>

<script>

</script>