<div
    id="mv_play_contest"
    data-role="view" 
    data-title="Contests" 
    data-layout="main"
    data-model="app.Contests"
    data-init="app.Contests.langExchange"
    data-show="app.Contests.onShow"
    data-transition="slide">
    
    <div data-role="header" class="rnkb-wiz">
        <div data-role="navbar">
            <a data-role="button" class="drawer-btn" data-align="left" data-click="app.Contests.homeService">
                <img src="./assets/resource/btn_home.png">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span data-role="view-title"></span>
        </div>
        
        <div class="property-mini-info">
            <div class="property-box-padding">
                <div id="my-ruby" class="property-box bg-ruby">
                    <span id="amount-ruby" class="amount_mini_ruby">0</span>
                    <span class="proper-add-btn">
                        <a data-role="button" data-click="app.ObjControl.launchShop"><img src="./assets/resource/btn_plus.png"></a>
                    </span>    
                </div>
            </div>
        </div>
        
        <div class="tapstrip-group">
            <div id="tabstrip_upcoming" class="tabstrip-moz ts">
                <a class="ts" data-role="button" data-click="app.Contests.matchPlay" data-labelnum="3">경기 참여</a>
            </div>
            <div id="tabstrip_live" class="tabstrip-moz">
                <a data-role="button" data-click="app.Contests.matchParticipating" data-labelnum="33">참여 중 경기</a>
            </div>

        </div>
    </div>
    
    <div id="contest-bar">
            <div id="tab_upcomming" class="tabDiv">

                <div class="contest-match-list">
                    <div class="contest-match-group">
                        
                        <ul class="contest-inboxList">
                            <li>
                                <a id="accoList_cgt1" class="btn-match-lead esp" data-role="button" data-click="app.Contests.contestAccordon" data-rel="cgt1"><img src="./assets/resource/ic_hot.png" class="badge_hot" /><span>Featured</span> (<span id="cmath-cnt-f">1</span>) <span id="acco_cgt1" class="collapse-btn"></span></a>
                                <div id="cgt_list1">
                                    <ul id="cgt1" class="collapseInboxList"></ul>
                                </div>
                            </li>
                            <li>
                                <a id="accoList_cgt2" class="btn-match-lead" data-role="button" data-click="app.Contests.contestAccordon" data-rel="cgt2"><span>50 /50</span> (<span id="cmath-cnt-5">1</span>) <span id="acco_cgt2" class="collapse-btn"></span></a>
                                <div id="cgt_list2">
                                    <ul id="cgt2" class="collapseInboxList"></ul>
                                </div>
                            </li>
                            <li>
                                <a id="accoList_cgt3" class="btn-match-lead" data-role="button" data-click="app.Contests.contestAccordon" data-rel="cgt3"><span>Rank match</span> (<span id="cmath-cnt-g">1</span>) <span id="acco_cgt3" class="collapse-btn"></span></a>
                                <div id="cgt_list3">
                                    <ul id="cgt3" class="collapseInboxList"></ul>
                                </div>
                            </li>
                            
                        </ul>

                    </div>
                </div>
 
            </div>

            <div id="tab_live" class="tabDiv hide">
                
                <div class="contest-match-list">
                    <div class="contest-match-group">
                        
                        <ul id="panelbar" class="contest-inboxList">
                            <li>
                                <a id="accoList_gt1" class="btn-match-lead esp" data-role="button" data-click="app.Contests.customAccordon" data-rel="gt1"><img src="./assets/resource/ic_hot.png" class="badge_hot" /><span>Featured</span> (<span id="math-cnt-f">1</span>) <span id="acco_gt1" class="collapse-btn"></span></a>
                                <div id="gt_list1">
                                    <ul id="gt1" class="collapseInboxList"></ul>
                                </div>
                            </li>
                            <li>
                                <a id="accoList_gt2" class="btn-match-lead" data-role="button" data-click="app.Contests.customAccordon" data-rel="gt2"><span>50 /50</span> (<span id="math-cnt-5">1</span>) <span id="acco_gt2" class="collapse-btn"></span></a>
                                <div id="gt_list2">
                                    <ul id="gt2" class="collapseInboxList"></ul>
                                </div>
                            </li>
                            <li>
                                <a id="accoList_gt3" class="btn-match-lead" data-role="button" data-click="app.Contests.customAccordon" data-rel="gt3"><span>Rank match</span> (<span id="math-cnt-g">1</span>) <span id="acco_gt3" class="collapse-btn"></span></a>
                                <div id="gt_list3">
                                    <ul id="gt3" class="collapseInboxList"></ul>
                                </div>
                            </li>
                            
                        </ul>
     
                    </div>
                </div>
                
            </div>
    </div>

</div>

<div data-role="modalview" id="join-match" data-modal="false" style="min-width: 300px;">
    <div class="modal-layer">
        <div class="modal-body">
            <h4 data-labelnum="2">[경기 입장 정보]</h4>
            <dl id="modal-info">
                <dt data-labelnum="69">플레이 방 이름</dt>
                <dd id="mo_title"></dd>
                <dt data-labelnum="70">경기방식</dt>
                <dd id="mo_title"></dd>
                <dt data-labelnum="71">참여 인원 및 참여가능 인원</dt>
                <dd>0 / 0</dd>
                <dt data-labelnum="72">입장료</dt>
                <dd></dd>
                <dt data-labelnum="73">경기보상</dt>
                <dd class="esp"></dd>
                <dt data-labelnum="74">순위별 보상</dt>
                <dd></dd>
            </dl>
        </div>
        <div class="modal-footer">
            <div class="modalBtnWrp">
                <a class="btn-close" data-role="button" data-click="app.Contests.closeModal" data-labelnum="60">취소</a>
            </div>
            <div class="modalBtnWrp">
                <a class="btn-join" data-role="button" data-click="app.Contests.joinMatchConfirm" data-labelnum="61">확인</a>
            </div>
        </div>
    </div>
</div>

<script id="liveContestListTemplate" type="text/x-kendo-template">
    <div class="collapseInboxList-face">
        <div class="collapseInboxList-group boxs">
            <div class="collapseInboxList-title">
                #if(contestType===1){#
                <span class="ic-50">50</span>
                #} else {#
                <span class="ic-ranking">R</span>
                #}#
                #if(guaranteed===1){#
                <span class="ic-guaranteed">G</span>
                #}#
                #if(contestStatus===1){#
                <span class="ic-wait">wait</span>
                #} else if(contestStatus===2){#
                <span class="ic-play">play</span>
                #} else {#
                <span class="ic-end">end</span>
                #}#
                #:contestName#
            </div>
            <div class="collapseInboxList-summ"><span><b>#:kendo.toString(totalEntry,"n0")#</b> / #:kendo.toString(maxEntry,"n0")#</span><span><b>#:kendo.toString(entryFee, "n0")#</b> / #:kendo.toString(rewardValue,"n0")#</span><span>#:timeRew#</span></div>
        </div>
        <div class="collapseInboxList-group btns">
        
        # var btnClass, btnLabel;
        if(contestStatus < 3) {
            btnClass = "myContest collapseInboxList-btn";
            btnLabel = "JOIN";
        } else {
            btnClass = "myContest collapseInboxList-off-btn";
            btnLabel = "CLOSED";
        }#
            <a data-role="button" data-rel="#:contestSeq#" data-status="#:contestStatus#" data-click="app.Contests.joinMatch" class="#=btnClass#">#=btnLabel#</a>
        </div>
    </div>
</script>


<script id="myContestListTemplate" type="text/x-kendo-template">
    <div class="collapseInboxList-face">
        <div class="collapseInboxList-group boxs">
            <div class="collapseInboxList-title">
                #if(contestType===1){#
                <span class="ic-50">50</span>
                #} else {#
                <span class="ic-ranking">R</span>
                #}#
                #if(guaranteed===1){#
                <span class="ic-guaranteed">G</span>
                #}#
                #if(contestStatus===1){#
                <span class="ic-wait">wait</span>
                #} else if(contestStatus===2){#
                <span class="ic-play">play</span>
                #} else {#
                <span class="ic-end">end</span>
                #}#
                #:contestName#
            </div>
            <div class="collapseInboxList-summ"><span><b>#:kendo.toString(totalEntry,"n0")#</b> / #:kendo.toString(maxEntry,"n0")#</span><span><b>#:kendo.toString(entryFee, "n0")#</b> / #:kendo.toString(rewardValue,"n0")#</span><span>#:timeRew#</span></div>
        </div>
        <div class="collapseInboxList-group btns">
        
        # var btnClass, btnLabel;
        if(contestStatus < 3) {
            btnClass = "myContest collapseInboxList-btn";
            btnLabel = "JOIN";
        } else {
            btnClass = "myContest collapseInboxList-off-btn";
            btnLabel = "CLOSED";
        }#
            <a data-role="button" data-rel="#:contestSeq#" data-status="#:contestStatus#" data-click="app.Contests.observeMatch" class="#=btnClass#">#=btnLabel#</a>
        </div>
    </div>
</script>


