<div
    id="record_detail"
    data-role="view" 
    data-title="결과 확인" 
    data-layout="main"
    data-model="app.Resnrnk"
    data-init="app.Resnrnk.langExchange"
    data-show="app.Resnrnk.resultInit"
    data-transition="slide">
    
    <div data-role="header" class="rnkb-wiz">
        <div data-role="navbar">
            <a class="drawer-btn" data-align="left" data-role="backbutton" href="#mv_record" data-transition="slide:right">
                <img src="./assets/resource/btn_back.png">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span data-role="view-title"></span>
        </div>
        
        <div class="property-mini-info">
            <div class="property-box-padding">
                <div class="property-box bg-ruby">
                    <span class="amount_mini_ruby">0</span>
                    <span class="proper-add-btn">
                        <a data-role="button" data-click="app.ObjControl.launchShop"><img src="./assets/resource/btn_plus.png"></a>
                    </span>    
                </div>
            </div>
        </div>
        
        <div class="tapstrip-group">
            <div id="tabstrip_upcoming_result__d" class="tabstrip-moz ts">
                <a class="ts" data-role="button" data-click="app.Resnrnk.playResultTotal" data-labelnum="28">전체 순위</a>
            </div>
            <div id="tabstrip_live_result__d" class="tabstrip-moz">
                <a data-role="button" data-click="app.Resnrnk.playResultTeam" data-labelnum="36">팀 성적</a>
            </div>
        </div>
        
        <div id="result_role_rank__d" class="tap_result_box">
            <div class="tab_result_reward">
                <div class="control-box" data-labelnum="35">
                    최종순위 및 보상
                </div>
                <div class="control-box">
                    <a class="btn-do-reward" data-role="button" data-click="app.Resnrnk.doContestReward" data-labelnum="62">보상 받기</a>
                </div>
            </div>
            
            <div class="tab_result_rank">
                <div class="result_rank_line">
                    <div class="control-box">
                        <span data-labelnum="8">이름</span>
                        <div id="contestResult__user__d"></div>
                    </div>
                    <div class="control-box">
                        <span data-labelnum="20">순위</span>
                        <div id="contestResult__rank__d"></div>
                    </div>
                    <div class="control-box">
                        <span data-labelnum="63">보상</span>
                        <div id="contestResult__reward__d"></div>
                    </div>
                </div>
            </div>
            
            <div class="tab_result_label">
                <ul>
                    <li class="clearfix header">
                        <div class="listitem_rank" data-labelnum="20">순위</div>
                        <div class="listitem_name" data-labelnum="8">네임</div>
                        <div class="listitem_point" data-labelnum="10">랭킹 포인트</div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div id="result_role_record__d" class="tap_result_box hide">
           <div class="tab_result_label">
                <ul>
                    <li class="clearfix header">
                        <div class="listitem_position" data-labelnum="38">포지션</div>
                        <div class="listitem_name" data-labelnum="8">네임</div>
                        <div class="listitem_point" data-labelnum="34">총점</div>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    
    <div id="contest-bar__result">
            <div id="tab_upcomming_result__d" class="tabDiv">
                <ul id="play_result_list__d" class="tab_result_label resultRankList" data-role="listview"></ul>
            </div>
            <div id="tab_result_team_score__d" class="tabDiv">
                <ul id="play_result_teams_core__d" class="tab_result_label resultRankList" data-role="listview"></ul>
            </div>
    </div>
</div>