<div
    id="mv_record"
    data-role="view" 
    data-title="최근 경기 결과" 
    data-layout="main"
    data-model="app.Contests"
    data-init="app.Contests.init"
    data-transition="slide">
    
    <div data-role="header">
        <div data-role="navbar">
            <a data-role="button" class="drawer-btn" data-align="left" href="#landing-menu" data-transition="slide:right">
                <img src="assets/resource/btn_home.png">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="assets/resource/btn_help.png">
            </a>
            <span data-role="view-title"></span>
        </div>
    </div>

    <div class="property-mini-info">
        <div class="property-box-padding">
            <div id="my-ruby" class="property-box bg-ruby">
                <span id="amount-ruby">123,456,789</span>
                <span class="proper-add-btn">
                    <img src="assets/resource/btn_plus.png">
                </span>    
            </div>
        </div>
        <div class="property-box-padding">
            <div id="my-point" class="property-box bg-point">   
                <span id="amount-point">123,456,789</span>
            </div>
        </div>
    </div>
    
    <div id="contest-bar">
        <div class="tapstrip-group">
            <div id="tabstrip_upcoming" class="tabstrip-moz ts">
                <a class="ts" data-role="button" data-click="app.Contests.matchPlay">게임참여</a>
            </div>
            <div id="tabstrip_live" class="tabstrip-moz">
                <a data-role="button" data-click="app.Contests.matchParticipating">참여 중 게임</a>
            </div>

        </div>

        <div id="tab_upcomming" class="tabDiv">
            <div class="contest-lead-title">
                <h4>
                    참여할 게임 타입을 선택하세요
                </h4>
            </div>

            <div class="contest-lead-list">
                <div class="contest-lead-group">
                    <ul>
                        <li>
                            <a class="btn-contest-lead esp" data-title="f" data-role="button" data-click="app.Contests.joinFeatured"><span>featured</span></a>
                        </li>
                        <li>
                            <a class="btn-contest-lead" data-title="50" data-role="button" data-click="app.Contests.joinFF"><span>50 / 50</span></a>
                        </li>
                        <li>
                            <a class="btn-contest-lead" data-role="button" data-click="app.Contests.joinGuarateed"><span>guaranteed to run</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="tab_live" class="tabDiv hide">

        </div>

    </div>

</div>