<div
    id="mv_record"
    data-role="view" 
    data-title="최근 경기 결과" 
    data-layout="main"
    data-model="app.Resnrnk"
    data-init="app.Resnrnk.langExchange"
    data-show="app.Resnrnk.initRecord"
    data-transition="slide">
    
    <div data-role="header" class="rnkb-wiz">
        <div data-role="navbar">
            <a data-role="button" class="drawer-btn" data-align="left" href="#landing-menu2" data-transition="slide:right">
                <img src="./assets/resource/btn_back.png" class="km-image">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span data-role="view-title"></span>
            
        </div>

        <div class="property-mini-info">
            <div class="property-box-padding">
                <div class="nothing_used">
                    FANTASY FOOTBALL LIVE
                </div>
            </div>
            
            <div class="property-box-padding">
                <div class="property-box bg-ruby">
                    <span class="amount_mini_ruby">0</span>
                    <a data-role="button" data-align="right" data-click="app.ObjControl.launchShop"><img src="./assets/resource/btn_plus.png"></a>
                </div>
            </div>
        </div>
                
    </div>

    
    <div class="contents-view">
        
        <ul id="recordList" class="recordboxList">
        </ul>

    </div>

</div>

<script id="recordListTemplate" type="text/x-kendo-template">
    <div class="inboxList-face">
        <div class="inboxList-marker"> #:myRank#</div>
        <div class="inboxList-title"><a data-role="button" data-click="app.Resnrnk.recordView" data-rel="#:contestSeq#">#:contestName#</a></div>
    </div>
    <div class="inboxList-summ__outline">
        <div class="inboxList-summ">
            <span><b>#:totalJoin#</b> / #:totalEntry#</span>
            <span><b>#:entryFee#</b> / #:totalReward#</span>
            <span class="openDateTime">#:roundDate#</span>
        </div>
    </div>
    
</script>