<div
    id="mv_shop"
    data-role="view" 
    data-title="SHOP" 
    data-layout="main"
    data-model="app.Contests"
    data-init="app.Contests.init"
    data-transition="slide">
    
    <div data-role="header" class="rnkb-wiz">
        <div data-role="navbar">
            <a data-role="button" class="drawer-btn" data-align="left" href="#landing-menu" data-transition="slide:right">
                <img src="./assets/resource/btn_home.png">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span data-role="view-title"></span>
        </div>
    </div>

    <div class="property-mini-info">
        <div class="property-box-padding">
            <div id="my-ruby" class="property-box bg-ruby">
                <span id="amount-ruby" class="amount_mini_ruby">123,456,789</span>
                <span class="proper-add-btn">
                    <img src="./assets/resource/btn_plus.png">
                </span>    
            </div>
        </div>
        <div class="property-box-padding">
            <div id="my-point" class="property-box bg-point">   
                <span id="amount-point" class="amount_mini_point">123,456,789</span>
            </div>
        </div>
    </div>
    
    <div id="contest-bar">
 

    </div>

</div>