<div
    id="mv_shop"
    data-role="view" 
    data-title="SHOP" 
    data-layout="main"
    data-transition="slide">
    
    <div data-role="header" class="rnkb-wiz">
        <div data-role="navbar">
            <a data-role="button" class="drawer-btn" data-align="left" href="#landing-menu" data-transition="slide:right">
                <img src="./assets/resource/btn_home.png">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span data-role="view-title"></span>
        </div>
    </div>

    <div class="property-mini-info">
        <div class="property-box-padding">
            <div id="my-ruby" class="property-box bg-ruby">
                <span id="amount-ruby" class="amount_mini_ruby">123,456,789</span>
                <span class="proper-add-btn">
                    <img src="./assets/resource/btn_plus.png">
                </span>    
            </div>
        </div>
        <div class="property-box-padding">
            <div id="my-point" class="property-box bg-point">   
                <span id="amount-point" class="amount_mini_point">123,456,789</span>
            </div>
        </div>
    </div>
    
    <div id="contest-bar">
        <ul class="inboxList">
            <li>
                <div class="inboxList-face">
                    <div class="inboxList-group boxs">
                        <div class="inboxList-title">10,00 캐쉬</div>
                        <div class="inboxList-summ"><span>1,000원</span></div>
                    </div>
                    <div class="inboxList-group btns">
                        <a data-role="button" class="inboxList-btn km-widget km-button"><span class="km-text">구매</span></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="inboxList-face">
                    <div class="inboxList-group boxs">
                        <div class="inboxList-title">20,00 캐쉬</div>
                        <div class="inboxList-summ"><span>2,000원</span></div>
                    </div>
                    <div class="inboxList-group btns">
                        <a data-role="button" class="inboxList-btn km-widget km-button"><span class="km-text">구매</span></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="inboxList-face">
                    <div class="inboxList-group boxs">
                        <div class="inboxList-title">30,00 캐쉬</div>
                        <div class="inboxList-summ"><span>3,000원</span></div>
                    </div>
                    <div class="inboxList-group btns">
                        <a data-role="button" class="inboxList-btn km-widget km-button"><span class="km-text">구매</span></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="inboxList-face">
                    <div class="inboxList-group boxs">
                        <div class="inboxList-title">50,00 캐쉬</div>
                        <div class="inboxList-summ"><span>5,000원</span></div>
                    </div>
                    <div class="inboxList-group btns">
                        <a data-role="button" class="inboxList-btn km-widget km-button"><span class="km-text">구매</span></a>
                    </div>
                </div>
            </li>
        </ul>
    
    </div>

</div>