<div 
    id="shop_category" 
    data-role="view"
    data-title="SHOP" 
    data-layout="main"
    data-transition="slide"
    data-model="app.Shop"
    data-show="app.Shop.showCategory">
    
    
    <div data-role="header" class="rnkb-wiz">
        <div data-role="navbar">
            <a data-role="button" class="drawer-btn" data-align="left" href="#shop_main" data-transition="slide:right">
                <img src="./assets/resource/btn_back.png">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span data-role="view-title"></span>
        </div>
        
        <div class="property-mini-info">
            <div class="property-box-padding">
                <div class="nothing_used">
                    FANTASY FOOTBALL LIVE
                </div>
            </div>
            
            <div class="property-box-padding">
                <div class="property-box bg-ruby">
                    <span class="amount_mini_ruby">0</span>
                    <a data-role="button" data-align="right" data-click="app.ObjControl.launchShop"><img src="./assets/resource/btn_plus.png"></a>
                </div>
            </div>
        </div>        
    </div>
    
    <div class="shop_box">
        
        <div class="shop_box_body">

            <ul id="shopCategoryItems" class="inboxList"></ul>
            
        </div>
    </div>

</div>

<script id="categoryGoodsListTemplate" type="text/x-kendo-template">
    #
        img_src = init_data.path + path + image;
    #
    <a data-role="button" data-inf="#:productFK#" data-rel="#:productCode#" data-sep="#:category#" data-bun="#:bundle#" data-click="app.Shop.buyItems">
        <div class="inboxList_face">
            <div class="inboxList_face__ico">
                <div class="marker_hot"></div>
                <div class="item_ico"><img src="#=img_src#" /></div>
            </div>
            <div class="inboxList_face__desc">
                <div class="item_label">#:productName#</div>
                <div class="item_gold"><span>#:priceDesc#</span></div>
            </div>
        </div>
    </a>
</script>