<div
    id="mv_shop"
    data-role="view" 
    data-title="SHOP" 
    data-model="app.Shop"
    data-show="app.Shop.init"
    data-layout="main"
    data-transition="slide">
    
    <div data-role="header" class="rnkb-wiz">
        <div data-role="navbar">
            <a data-role="button" class="drawer-btn" data-align="left" href="#landing-menu" data-transition="slide:right">
                <img src="./assets/resource/btn_home.png">
            </a>
            <a data-role="button" class="drawer-btn" data-align="right">
                <img src="./assets/resource/btn_help.png">
            </a>
            <span data-role="view-title"></span>
        </div>
        
        <div class="property-mini-info">
            <div class="property-box-padding">
                <div id="my-ruby" class="property-box bg-ruby">
                    <span id="amount-ruby" class="amount_mini_ruby">0</span>
                    <span class="proper-add-btn">
                        <img src="./assets/resource/btn_plus.png">
                    </span>    
                </div>
            </div>
        </div>
    </div>
    
    <div class="contents-view">
        <ul class="inboxList">
            <li>
                <div class="inboxList-face">
                    <img src="./assets/resource/shop/ic_cash_001.png" />
                    <div class="inboxList-group boxs">
                        <div class="inboxList-title">725,000 캐시</div>
                        <div class="inboxList-summ"><span>5,500원</span></div>
                    </div>
                    <div class="inboxList-group btns">
                        <a data-role="button" data-pid="com.streetlab.cash5000" data-click="app.Shop.buy" class="inboxList-shop-btn km-widget km-button"><span class="km-text">구매</span></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="inboxList-face">
                    <img src="./assets/resource/shop/ic_cash_002.png" />
                    <div class="inboxList-group boxs">
                        <div class="inboxList-title">1,450,000 캐시<span>( 보너스 +72,500 캐시 )</span></div>
                        <div class="inboxList-summ"><span>11,000원</span></div>
                    </div>
                    <div class="inboxList-group btns">
                        <a data-role="button" data-pid="com.streetlab.cash10000" data-click="app.Shop.buy" class="inboxList-shop-btn km-widget km-button"><span class="km-text">구매</span></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="inboxList-face">
                    <img src="./assets/resource/shop/ic_cash_003.png" />
                    <div class="inboxList-group boxs">
                        <div class="inboxList-title">2,900,000 캐시<span>( 보너스 +290,000 캐시 )</span></div>
                        <div class="inboxList-summ"><span>22,000원</span></div>
                    </div>
                    <div class="inboxList-group btns">
                        <a data-role="button" data-pid="com.streetlab.cash20000" data-click="app.Shop.buy" class="inboxList-shop-btn km-widget km-button"><span class="km-text">구매</span></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="inboxList-face">
                    <img src="./assets/resource/shop/ic_cash_004.png" />
                    <div class="inboxList-group boxs">
                        <div class="inboxList-title">4,350,000 캐시<span>( 보너스 +652,500 캐시 )</span></div>
                        <div class="inboxList-summ"><span>33,000원</span></div>
                    </div>
                    <div class="inboxList-group btns">
                        <a data-role="button" data-pid="com.streetlab.cash30000" data-click="app.Shop.buy" class="inboxList-shop-btn km-widget km-button"><span class="km-text">구매</span></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="inboxList-face">
                    <img src="./assets/resource/shop/ic_cash_005.png" />
                    <div class="inboxList-group boxs">
                        <div class="inboxList-title">7,250,000 캐시<span>( 보너스 +1,450,000 캐시 )</span></div>
                        <div class="inboxList-summ"><span>55,000원</span></div>
                    </div>
                    <div class="inboxList-group btns">
                        <a data-role="button" data-pid="com.streetlab.cash50000" data-click="app.Shop.buy" class="inboxList-shop-btn km-widget km-button"><span class="km-text">구매</span></a>
                    </div>
                </div>
            </li>
        </ul>
    
    </div>

</div>